---
layout: layouts/default
title: AMA
description: Ask me anything
permalink: ama/
---

{% import 'components/atoms/details.njk' as details %}
{% import 'components/atoms/button.njk' as button %}

<p>I have answered tons of questions trough e-mail and social media. Usually giving advice or recommending products. Here are the most common questions. Is your question not on the list? Feel free to ask it trough the question form or contact me on social media!</p>

{{ button.primary("/ask-a-question", "Ask a question!") }}
{{ button.primary("/contact", "Contact me") }}

<p>
  <em>Just remember that we each have our own unique perspectives and approaches to solving problems. When I give advice it's my advice and expect to be wrong. You should always seek advice from as many people as possible.</em>
</p>

<h3>Frequently Asked Questions</h3>

{{ details.details(
  "What gear do you use?",
  "I'm an absolute Gearhead and love EDC items. On this ['uses'](/uses) pages I've listed all the hardware and tools that I use. And here is a list of all my ['apps'](/apps) and software that are on my devices.")
}}

{{ details.details(
  "What book(s) changed your life?",
  "In terms of 'life advice', probably [Deep Work](https://www.goodreads.com/book/show/25744928-deep-work) and [So Good They Can't Ignore You](https://www.goodreads.com/book/show/13525945-so-good-they-can-t-ignore-you) by Cal Newport. [What if everything you knew about education](https://www.goodreads.com/book/show/25769419-what-if-everything-you-knew-about-education-was-wrong) by David Didau fundamentally changed the way I teach students.")
}}

{{ details.details(
  "Will you do _insert service or request_ for free?",
  "No, probably not. And read [Design is a Job](https://www.goodreads.com/book/show/13574985-design-is-a-job) by Mike Monteiro.")
}}

{{ details.details(
  "Should I do _insert thing here_?",
  "Yes. It doesn’t matter what anyone thinks, do what you think is best. You don't need permission from anyone.")
}}

{{ details.details(
  "How many people visit this website?",
  "I don't know, and I don't want to know. No cookies or third-party tracking scripts are embedded on this site. [Privacy](/privacy) is more important than metrics.")
}}

{{ details.details(
  "Can I fix something on your site?",
  "Yea! I sometimes make typo's in articles or break some code. You can [create a new issue](https://github.com/systemdes/personal-website) on the repository of this website if you want to help me fix it.")
}}

{{ details.details(
  "Can we hop on a quick call or meet for coffee?",
  "If an idea sounds interesting I might be interested. I talk to a lot of people on a regular basis but I don't like people ['picking my brain'](https://m.signalvnoise.com/a-few-words-of-advice-to-brain-pickers/).  ")
}}

{{ details.details(
  "Can I use your content that you shared publicly?",
  "Sure, go ahead! Everything I put on dandevri.es you can use based on the (MIT) license of [the GitHub repository](https://github.com/systemdes/personal-website). It would be nice of you to could credit me or [support me](/support).")
}}

{{ details.details(
  "Can you post my content on your site?",
  "I don’t publish other people’s stuff. This is my personal site and I put whatever I want on here. I do like to share other people's work on [social media](/contact).")
}}

{{ details.details(
  "Will you do my interview or podcast?",
  "Yea! If it fits into my schedule I will make time to do almost any interview or podcast. [Contact me](/contact) if you want to invite me.")
}}

{{ details.details(
  "Who made your website?",
  "I did, in my spare time. I did the whole design and coding thing. The [colophon](/colophon) page lists the technology used in creating this website.")
}}

{{ details.details(
  "I need your corporate stuff!",
  "If something has an exclamation mark on the end, is it a question? Dandevri is registered in the [Netherlands Chamber of Commerce](https://www.kvk.nl/english/) (VAT registered) under number 63938804.")
}}

<h3>Advice column</h3>

<section>
  {%- for question in collections.ama  -%}
    {% include 'components/atoms/ama.njk' %}
  {%- endfor -%}
</section>
