---
layout: layouts/default
title: Blogroll
description: A rolodex of other people on the web. Friends and other people around the internet I follow.
permalink: blogroll/
---

<p>There are currently <em>{{ blogroll.blogroll | size }}</em> people on this list.</p>

<ul class="blogroll-list">
  {% for item in blogroll.blogroll %}
    {% include 'components/atoms/blogroll.njk' %}
  {% endfor %}
</ul>
