---
layout: layouts/default
title: Changelog
description: Documenting updates and changes to my personal website.
permalink: changelog/
---

<h2>Main pillars</h2>

<p>A bit of rationale on each aspect of the design and technicalities of this website.</p>

<section class="grid-l">
  {%- for item in collections.design | reverse -%}
    <ul>
      {% include 'components/atoms/log.njk' %}
    </ul>
  {%- endfor -%}
</section>

<h2>Changelog</h2>

<p>The changes of this site use <code>calver</code>, a convention based on a release calendar instead of arbitrary numbers. I try to mirror this changelog on the <a href="https://github.com/systemdes/personal-website/releases">releases of this site's GitHub repo.</a></p>

<section class="grid-l">
  {%- for item in collections.changelog | reverse -%}
      <ul>
        {% include 'components/atoms/log.njk' %}
      </ul>
  {%- endfor -%}
</section>

<p><em>If you really really want to see every little change on this website you can view the commit history on <a href="https://github.com/systemdes/personal-website/commits/master">this site's GitHub repo</a> but I'm not sure if you are into that kinda thing...</e></p>
