---
layout: layouts/default
title: Changelog
description: Documenting updates and changes to my personal website.
permalink: changelog/
---

<p>The changes of this site use <code>calver</code>, a convention based on a release calendar instead of arbitrary numbers. I try to mirror this changelog on the <a href="https://github.com/systemdes/personal-website/releases">releases of this site's GitHub repo.</a></p>

<h2>Main pillars</h2>

<section class="grid-l">
  {%- for item in collections.design | reverse -%}
    <ul>
      {% include 'components/atoms/log.njk' %}
    </ul>
  {%- endfor -%}
</section>

<h2>Changelog</h2>

<section class="grid-l">
  {%- for item in collections.changelog | reverse -%}
      <ul>
        {% include 'components/atoms/log.njk' %}
      </ul>
  {%- endfor -%}
</section>
