---
layout: layouts/default
title: Hire
permalink: hire/
---

{% import 'components/atoms/breakout.njk' as breakout %}

{{ breakout.breakout('Availability', '✕ Currently saying no to full-time job opportunities. ✓ Saying yes to speaking requests, workshops, coaching, interviews, writing and part-time projects.', '/contact', 'Contact me') }}
