---
layout: layouts/default
title: Search
description: The dandevri search engine.
permalink: search/
---
<script async src="https://cse.google.com/cse.js?cx=007148079686666673853:wikao9s61xg"></script>

<p>Search any keyword with any of the following search engines and you'll hopefully get a page on my website back.</p>

<h3>DuckDuckDanny</h3>
<iframe src="https://duckduckgo.com/search.html?site=dandevri.es&prefill=Search dandevri.es&bgcolor=000" style="overflow:hidden;margin:0;padding:0;width:408px;height:40px;" frameborder="0"></iframe>
<p><em>* will redirect to duckduckgo</em></p>

<h3>Google redirect</h3>

<div class="boilerform">
  <form action="https://www.google.com/search" method="get" class="search">
    <input type="hidden" name="q" id="q" value="site:http://dandevri.es">
    <label for="search-str">Search with google redirect <small></label>
    <input type="text" class="c-input-field" name="q" id="search-str"></p>
    <button type="submit" class="submit btn btn-secondary">Search with Google</button>
  </form>
</div>

<h3>Google Custom Search</h3>

<div class="gcse-search" data-linkTarget="_parent"></div>

<p><em>* uses google custom search (so ads), but will yield better results</em></p>
