---
layout: layouts/empty
title: Stats
permalink: stats/
---

<div class="apple">
  <article>
    <p><span class="lg">{{ collections.all | size }}</span><br>posts</p>
  </article>
  <article>
    <p><span class="lg">110.95kB</span><br><a href="https://fitonafloppy.website/?website=dandevri.es&https=true">Fits on a floppy! </a></p>
  </article>
  <article>
    <p><span class="lg">{{ collections.link | size }}</span><br>links</p>
  </article>
  <article>
    <p>Notes: {{ collections.note | size }}</p>
  </article>
  <article>
    <p><span class="lg">{{ collections.tagList | size }}</span><br>tags</p>
  </article>
  <article>
    <p>Events: {{ events.events | size }}</p>
  </article>
  <article>
    <p>Interviews: {{ interviews.interviews | size }}</p>
  </article>
   <article>
    <p>Projects: {{ collections.project | size }}</p>
  </article>
   <article>
    <h2>Stats</h2>
  </article>
  <article>
    <p>Courses: {{ courses.courses | size }}</p>
  </article>
  <article>
    <p><a href="https://fitonafloppy.website/?website=dandevri.es&https=true">Fits on a floppy! (110.95kB)</a></p>
  </article>
  <article>
    <span class="stats-lighthouse">100</span>
    <p><a href="https://lighthouse-dot-webdotdevsite.appspot.com//lh/html?url=https%3A%2F%2Fwww.dandevri.es">Lighthouse Report</a></p>
  </article>
  <article>
    <div id="wcb" class="wcb carbonbadge"></div>
    <script src="https://unpkg.com/website-carbon-badges@^1/b.min.js" defer></script>
  </article>
    <article>
    <p>Things: {{ interviews.interviews | size }}</p>
  </article>
    <article>
    <p>MOre things {{ interviews.interviews | size }}</p>
  </article>
<article>
    <p>🌍 Life stats:</p>
    <ul>
      <li><span class="stats-years"></span> years of age</li>
      <li><span class="stats-date"></span> days since born</li>
      <li><span class="stats-hours"></span> hours on earth
      <li><span class="stats-minutes"></span> minutes
  </article>
  <article>
    <p><span class="lg">{{ collections.article | size }}</span><br>articles</p>
  </article>
  <article>
    <p>Links: {{ collections.link | size }}</p>
  </article>
  <article>
    <p><span class="lg">{{ collections.note | size }}</span><br>notes</p>
  </article>
  <article>
    <p>Talks: {{ collections.talks | size }}</p>
  </article>
  <article>
    <p>Events: {{ events.events | size }}</p>
  </article>
  <article>
    <p>Interviews: {{ interviews.interviews | size }}</p>
  </article>
   <article>
    <p>Projects: {{ collections.project | size }}</p>
  </article>
  <article>
    <p>Posts: {{ collections.all | size }}</p>
  </article>
