---
layout: layouts/overview
title: Uses
description: Here are the tools of the trade that I love to use. I recommend each item on this list and switch things up pretty often to see if something improves my workflow.
permalink: uses/
eleventyNavigation:
  key: Uses
  order: 7
---

{% import 'components/molecules/skip-list.njk' as list %}

{{ list.skip('development', 'applications', 'edc', 'utilities') }}

<div class="content">

<h2>Desk Setup</h2>

<p>For me, it's very important to have a clutter-free, ergonomic and well-designed environment to stay focussed. </p>

<ul class="multi">
{% for item in uses.workstation %}
  <li>
    <p><a href="{{ item.link }}">{{ item.title }}</a></p>
    <p>{{ item.description }}</p>
  </li>
{% endfor %}
</ul>

<h2>Mobile station</h2>

<ul class="multi">
{% for item in uses.mobile %}
  <li>
    <p><a href="{{ item.link }}">{{ item.title }}</a></p>
    <p>{{ item.description }}</p>
  </li>
{% endfor %}
</ul>


<h2 id="development">Development</h2>

<ul class="multi">
{% for item in uses.development %}
  <li>
    <p><a href="{{ item.link }}">{{ item.title }}</a></p>
    <p>{{ item.description }}</p>
  </li>
{% endfor %}
</ul>

<h2>Recording</h2>

<ul class="multi">
{% for item in uses.recording %}
  <li>
    <p><a href="{{ item.link }}">{{ item.title }}</a></p>
    <p>{{ item.description }}</p>
  </li>
{% endfor %}
</ul>

<h2 id="applications">Applications</h2>

<ul class="multi">
{% for item in uses.applications %}
  <li>
    <p><a href="{{ item.link }}">{{ item.title }}</a></p>
    <p>{{ item.description }}</p>
  </li>
{% endfor %}
</ul>

<h3>Web apps</h3>

<ul class="multi">
{% for item in uses.websites %}
  <li>
    <p><a href="{{ item.link }}">{{ item.title }}</a></p>
    <p>{{ item.description }}</p>
  </li>
{% endfor %}
</ul>

<h3>Utilities</h3>

<ul class="multi">
{% for item in uses.utilities %}
  <li>
    <p><a href="{{ item.link }}">{{ item.title }}</a></p>
    <p>{{ item.description }}</p>
  </li>
{% endfor %}
</ul>

<h3>Design</h3>

<ul class="multi">
{% for item in uses.design %}
  <li>
    <p><a href="{{ item.link }}">{{ item.title }}</a></p>
    <p>{{ item.description }}</p>
  </li>
{% endfor %}
</ul>

<h2 id="edc">Everyday Carry</h2>

<ul class="multi">
{% for item in uses.edc %}
  <li>
    <p><a href="{{ item.link }}">{{ item.title }}</a></p>
    <p>{{ item.description }}</p>
  </li>
{% endfor %}
</ul>

<hr>

<p><em>You can also find all of my gear on <a href="https://www.kit.co/dandevri">kit.co.</a></em></p>
</div>
