<article class="advice">
  <p>
    {{ question.data.from }}
    asks on
    {{ question.data.platform }}:</p>
  <blockquote>{{ question.data.question }}</blockquote>
  <a href="{{ question.url }}">Read full answer</a>
</article>
