<article class="article-item">
  <a href="{{ article.url }}">
    <h3>{{ article.data.title }}</h3>
    <p>{{ article.data.description }}</p>
    <time datetime="{{ article.date | htmlDateString }}">{{ article.date | dotDate }}</time>
  </a>
</article>
