<form class="widget">
  <fieldset>
    <legend>Bio Length:</legend>
    <input type="radio" id="sentence" name="length" value="sentence" checked="checked">
    <label for="sentence">Sentence</label>
    <input type="radio" id="short" name="length" value="short">
    <label for="short">Short</label>
    <input type="radio" id="Medium" name="length" value="medium" >
    <label for="Medium">Medium</label>
    <input type="radio" id="Long" name="length" value="long">
    <label for="Long">Long</label>
    <input type="radio" id="story" name="length" value="story">
    <label for="story">Life story</label>
  </fieldset>
  <fieldset>
    <legend>Style</legend>
    <input type="radio" id="first" name="style" value="first">
    <label for="first">1st person</label>
    <input type="radio" id="third" name="style" value="third">
    <label for="third">3rd person</label>
  </fieldset>
</form>
