<div class="biography">
  <img src="/static/img/avatar.jpg" alt="Profile Picture">
  <p><em>Hi, I'm Danny <a href="/contact">(@dandevri)</a>, a freelance front-end designer and lecturer at the Amsterdam University of Applied Sciences where I teach about code in the technical courses of our program such as front-end and back-end.</em>
  </p>
</div>
