<li class="blogroll">
  <div class="blogroll-header">
    <img src="{{ item.avatar }}" alt="Profile picture of {{ item.name }}" class="blogroll-avatar"/>
    <div>
      <p>{{ item.name }}</p>
      <small>(@{{ item.username }})</small>
      <p><a href="{{ item.website }}"><code>{{ item.website }}</code></a></p>
    </div>
  </div>
    <p>{{ item.bio }}</p>
</li>
