<li class="blogroll">
  <div class="blogroll-header">
    <img src="{{ item.avatar }}" alt="Profile picture of {{ item.name }}" class="blogroll-avatar"/>
    <div>
      <p>{{ item.name }}</p>
      <p>{{ item.website }}</p>
    </div>
  </div>
    <p>{{ item.bio }}</p>
</li>
