{% macro primary(link, label) %}
  <a class="btn btn-primary" href="{{ link }}">{{ label }}</a>
{% endmacro %}

{% macro secondary(link, label) %}
  <a class="btn btn-secondary" href="{{ link }}">{{ label }}</a>
{% endmacro %}
