{% macro block(title, description, link, linkText) %}
  <article class="card card-block">
    <h4>{{ title }}</h4>
    <p>{{ description }}</p>
    <a class="link-int" href="{{ link }}">{{ linkText }}</a>
  </article>
{% endmacro %}

{% macro product(title, link, linkText) %}
  <article class="card card-product">
    <h4>{{ title }}</h4>
    <a href="{{ link }}">{{ linkText }}</a>
  </article>
{% endmacro %}

{% macro item(url, image, title, description) %}
  <article class="card card-item">
    <a class="card-link" href="{{ url }}">
      <img src="{{ image }}" alt="{{ title }}">
      <div class="list-content content">
        <h3>{{ title }}</h3>
        <p>{{ description }}</p>
      </div>
    </a>
  </article>
{% endmacro %}

{% macro list(url, title, content, date, type) %}
  <li class="card card-list">
    <div class="list-content content">
    {% if title %}
      <span href="{{ url }}">{{ title }}</span>
    {% endif %}
      {{ content }}
    </div>
    <div class="list-meta">
      <img class="list-avatar" src="/static/img/avatar.jpg" alt="Profile Picture of Danny de Vries">
      <small>Danny de Vries</small>
      <span class="divider">·</span>
      <time datetime="{{ date | htmlDateString }}"> {{ date | readableDate }}</time>
      <span class="list-type">{{ type }}</span>
      <a href="{{ url }}"></a>
    </div>
  </li>
{% endmacro %}
