{% macro block(title, description, link, linkText) %}
  <article class="card">
    <h4>{{ title }}</h4>
    <p>{{ description }}</p>
    <a href="{{ link }}">{{ linkText }}</a>
  </article>
{% endmacro %}

{% macro product(title, link, linkText) %}
  <article class="card">
    <h4>{{ title }}</h4>
    <a href="{{ link }}">{{ linkText }}</a>
  </article>
{% endmacro %}

{% macro project(url, image, type, title, description) %}
  <article class="project">
    <a href="{{ url }}">
      <img src="{{ image }}" alt="{{ title }}">
      <span> {{ type }}</span>
      <h3>{{ title }}</h3>
      <p>{{ description }}</p>
    </a>
  </article>
{% endmacro %}

{% macro course(url, image, title, description, type, length) %}
  <article class="card-item">
    <a href="{{ url }}">
      <img src="{{ image }}" alt="{{ title }}">
      <h3>{{ title }}</h3>
      <p>{{ description }}</p>
      <ul class="card-meta">
        <li>{{ length }} • </li>
        <li>{{ type }}</li>
      </ul>
    </a>
  </article>
{% endmacro %}
