<li class="event-item">
  <div class="event-content">
    <p>{{ item.date }}</p>
    <p><a href="{{ item.link }}">{{ item.title }}</a></p>
    <p>{{ item.location }}</p>
    <p>
    {% if item.slides %}
      <a href="{{ item.slides }}">Slides</a>
      {% elif item.video %}
      <a href="{{ item.video }}">Video</a>
      {% else %}
      <p>{{ item.appear }}</p>
    {% endif %}
    </p>
  </div>
</li>
