{% macro figure(src, alt, caption) %}
  <figure class="image">
    <img src="{{ src }}" alt="{{ alt }}">
    <figcaption>{{ caption }}</figcaption>
  </figure>
{% endmacro %}

{{ figure("/static/img/image.jpg", "Image form Unsplash", "Caption of the image") }}
