<li class="log-item">
  <a href="{{ item.url }}">
    <h5><span class="log-label">{{ item.data.label }}</span> {{ item.data.title }}</h5>
  </a>
  <p>{{ item.data.description }}</p>
  <time datetime="{{ item.date | htmlDateString }}">{{ item.date | dotDate }}</time>
</li>
