<li class="media-item">
  <a href="{{ item.url }}">
    <img src="{{ item.cover }}" alt="{{item.title }} cover">
    <p>{{ item.title }}</p>
    <p>{{ item.author }}</p>
    <p>{{ item.tag }}</p>
  </a>
</li>
