<li class="photo-item">
  <p>{{ photo.data.title }}</p>
  <p>{{ photo.data.date }}</p>
  <p>{{ photo.data.description }}</p>
  <p>{{ photo.data.location }}</p>
  <p>{{ photo.data.camera }}</p>
  <img src="{{ photo.data.url}}">
</li>
