<p class="signature">
  Thanks,<br>
  <img class="signature__image" src="/static/img/signature.svg" alt="Signature"><br>
  <em>— Danny de Vries</em></br>
  {# <a href="/contact">@dandevri</a> #}
</p>
