<ul class="tag-list">
  <li><span>Categories:</span></li>
  <li><a href="/notes">Notes</a></li>
  <li><a href="/links">Links</a></li>
  <li><a href="/journal">Journal</a></li>
  <li><span>I write about</span></li>
  <li><a href="#">#code</a></li>
  <li><a href="#">#things</a></li>
  <li><a href="#">#topics</a></li>
  <li><a href="#">#stuff</a></li>
</ul>
