$s-1: calc($base / $ratio);
$s-2: calc($base / $ratio / $ratio);
$s-3: calc($base / $ratio / $ratio / $ratio);
$s-7: calc($base / $ratio / $ratio / $ratio / $ratio);

$s-4: calc(-$base / $ratio);
$s-5: calc(-$base / $ratio / $ratio);
$s-6: calc(-$base / $ratio / $ratio / $ratio);

/* Scale */
$s0: calc($base);
$s1: calc($base * $ratio);
$s2: calc($base * $ratio * $ratio);
$s3: calc($base * $ratio * $ratio * $ratio);
$s4: calc($base * $ratio * $ratio * $ratio * $ratio);
$s5: calc($base * $ratio * $ratio * $ratio * $ratio * $ratio);
$s6: calc($base * $ratio * $ratio * $ratio * $ratio * $ratio * $ratio);
