# macOS
.DS_Store

# Logs
logs
*.log

# Dependency directories
node_modules/

# Build
_site

# environment variables file
.env

# 11ty passtrough copy files
scripts/script.js
css/style.css

# Webmentions cache
_cache/
