---
layout: layouts/default
title: Hi, I'm Danny.
description: A freelance front-end designer and lecturer at the Amsterdam University of Applied Sciences where I teach about code in the technical courses of our program such as front-end and back-end.
---

{% import 'components/atoms/card.njk' as card %}

<section class="home">
  <p><strong>I'm in the process of live-designing this site. I'm filling it with content and have a Notion board with design inspiration. <a href="https://github.com/systemdes/personal-website">Follow along on GitHub</a></strong></p>

  <p>Details matter. With a clean, functional and minimal aesthetic I can work on your companies: visual language, user interface, experience design or front-end website.</p>

  <p>I work as a lecturer and researcher at the Amsterdam University of Applied Sciences where I lecture about code in the technical courses of our program such as front-end and back-end.</p>

</section>
