---
layout: layouts/default
title: Danny de Vries
description: Hi! I'm Danny de Vries (@dandevri), which you've probably already guessed from the header above. I'm an Indie Maker building digital products for the web and lecture about web technology at the Amsterdam University of Applied Sciences.
eleventyNavigation:
  key: Danny de Vries
  order: 1
---

<div class="grid">
  <article class="article-item">
    <h3>Speaking</h2>
    <p>I give talks and guest lecture at conferences, universities or offices. You should totally ask me to speak.</p>
    <a href="/speaking">Let's talk about speaking</a>
    <div class="speaking-dither"></div>
  </article>

  <article class="article-item">
    <h3>Teaching</h2>
    <p>You'll usually find me in front of a classroom at the Amsterdam University but I also share what I learn by giving full-day workshops and creating online classes.</p>
    <a href="/teaching">See all courses</a>
    <div class="teaching-dither"></div>
  </article>

  <article class="article-item">
      <h3>Projects</h2>
      <p>Sometimes I tinker with code or create DIY projects. Most of them are just fun side projects that have no meaning at all and aren't for anybody to use.</p>
      <a href="/projects">See all projects</a>
    <div class="projects-dither"></div>
  </article>
</div>

<div class="grid">
 <article class="article-item">
    <h3>Latest writing</h3>
    <p>Feel free to contact me if you have any questions. You can e-mail, chat or follow me on social.</p>
    <a href="/contact">Get in touch</a>
  </article>
   <article class="article-item">
    <h3>Talk highlight</h3>
    <p>Feel free to contact me if you have any questions. You can e-mail, chat or follow me on social.</p>
    <a href="/contact">Get in touch</a>
  </article>
</div>

<div class="grid-xl">
  <a href="/contact" class="link-block">Contact me</a>
  <a href="/support" class="link-block">Support me</a>
  <a href="/uses" class="link-block">Uses</a>
  <a href="/updates" class="link-block">Stay updated</a>
</div>
