---
layout: layouts/default
title: Archive
description: Gathering virtual dust
permalink: writing/archive/
---

<section class="guideslist grid-l">
  {%- for article in collections.archive | reverse -%}
    {% include 'components/atoms/article.njk' %}
  {%- endfor -%}
</section>
