---
layout: layouts/overview
title: Guides
permalink: guides/
eleventyNavigation:
  key: Guides
  order: 3
cover: /static/img/share/share-guides.jpg
sentence: A few things I've written to help me think or share what I know. Usually short posts and notes but also longer essays and guides.
---

<section class="guideslist grid-l">
  {%- for article in collections.guide | reverse -%}
    {% include 'components/atoms/article.njk' %}
  {%- endfor -%}
</section>
