---
layout: layouts/overview
title: Journal
permalink: journal/
---

{% import 'components/atoms/card.njk' as card %}

<section>
  <ul class="list grid grid-xl">
    {%- for journal in collections.journal | reverse -%}
      {{ card.list
        (
          journal.url,
          journal.data.title,
          journal.templateContent | safe,
          journal.data.date,
          journal.data.type
        )
      }}
    {%- endfor -%}
  </ul>
</section>
