<div class="boilerform">
  <form name="speaking" action="/submit" method="POST" data-netlify="true">
    <fieldset>
      <legend>Information</legend>

      <label for="name" class="c-label">Your name</label>
      <input id="name" class="c-input-field" type="text" name="name" />

      <label for="email" class="c-label">Your email</label>
      <input type="email" name="email" id="email" autocapitalize="none" autocorrect="off" class="c-input-field" />

      <label for="org" class="c-label">Name of your organization</label>
      <input type="text" name="org" id="org" class="c-input-field"/>

    </fieldset>

    <button class="c-button" type="submit">Request</button>
  </form>
</div>
