{% if page.url === '/' %}
  <header class="homepage-header">
{% else %}
  <header>
{% endif %}
  <h1>{{ title }}</h1>
  {% if date %}
    <h2>{{ date | readableDate }} </h2>
  {% else %}
    <h2>{{ description }} </h2>
  {% endif %}
  {% if page.url === '/' %}
    <img class="header-img" src="/static/img/avatar-doodle.jpg" />
  {% endif %}
</header>
