{% macro four(img1, img2, img3, img4) %}
  <div class="image-grid grid-four">
    <img src="{{ img1 }}">
    <img src="{{ img2 }}">
    <img src="{{ img3 }}">
    <img src="{{ img4 }}">
  </div>
{% endmacro %}
