<header class="site-header">
  <nav>
    <ul>
      <li><a href="/">Danny de Vries</a></li>
      <li><a href="/about">About</a></li>
      <li>
        <a href="/writing">Writing</a>
        <ul>
          <li><a href="/articles">Articles</a></li>
          <li><a href="/notes">Notes</a></li>
          <li><a href="/weeknotes">Weeknotes</a></li>
          <li><a href="/journal">Journal</a></li>
          <li><a href="/guides">Guides</a></li>
          <li><a href="/essays">Essays</a></li>
          <li><a href="/links">Links</a></li>
        </ul>
      </li>
      <li>
        <a href="/speaking">Speaking</a>
        <ul>
          <li><a href="/speaking/events">Events</a></li>
          <li><a href="/speaking/talks">Talks</a></li>
          <li><a href="/speaking/interviews">Interviews</a></li>
        </ul>
      </li>
      <li>
        <a href="/teaching">Teaching</a>
        <ul>
          <li><a href="/teaching">Workshops</a></li>
          <li><a href="/teaching">Courses</a></li>
        </ul>
      </li>
      <li>
        <a href="/coaching">Coaching</a>
        <ul>
          <li><a href="/coaching/#mentorship">Mentorship</a></li>
          <li><a href="/coaching/#coaching">Coaching</a></li>
          <li><a href="/coaching/#feedback">Feedback</a></li>
        </ul>
      </li>
      <li>
        <a href="/projects">Projects</a>
        <ul>
          <li><a href="/projects">Websites</a></li>
          <li><a href="/projects">Ventures</a></li>
          <li><a href="/projects">Gear</a></li>
          <li><a href="/projects">Raspberry</a></li>
        </ul>
      </li>
      <li>
        <a href="/contact">Contact</a>
        <ul>
          <li><a href="/updates">Updates</a></li>
          <li><a href="/support">Support</a></li>
          <li><a href="/uses">Uses</a></li>
          <li><a href="/now">Now</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
