@define-mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@define-mixin reset-link {
  text-decoration: none;
}

@define-mixin reduced-motion {
  @media screen and (prefers-reduced-motion: reduce), (update: slow) {
    * {
      animation-duration: 0.001ms !important;
      animation-iteration-count: 1 !important;
    }
  }
}

ul {
  list-style-image: url(/static/img/icons/marker-dark.svg);
}

.divider {
  margin: $s-2 $s-2;
}

.line {
  position: relative;

  &:before {
    content: "";
    display: block;
    width: 1px;
    background-color: $secondary;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2.5rem;
    opacity: 0.5;
  }
}

.line > * + * {
  margin-top: $s6;
}

.highlight {
  background: $secondary;
  color: $primary;
  box-decoration-break: clone;
  padding: $s-3 $s-1;
  display: inline-block;
  text-transform: uppercase;
}

@define-mixin b-1 {
  content: "";
  position: absolute;
  display: block;
  z-index: 2;
  background-color: $primary;
  width: calc(1.25 * 1vw);
  top: 0;
  bottom: 0;
  right: 0;
  transform: skewY(45deg) scaleX(-1);
  animation: shadow-1 1s forwards 500ms;
  transform-origin: center right;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  opacity: 0;
}

@define-mixin b-2 {
  content: "";
  position: absolute;
  display: block;
  z-index: 2;
  background-color: $primary;
  height: calc(1.25 * 1vw);
  left: 0;
  bottom: 0;
  right: 0;
  transform: skewX(45deg) scaleY(-1);
  animation: shadow-2 1s forwards 500ms;
  transform-origin: bottom center;
  border-top: 1px solid $secondary;
  border-bottom: 1px solid $secondary;
  border-left: 1px solid $secondary;
  opacity: 0;
}

@define-mixin focus {
  transition: outline-offset 0.1s ease-in;
  outline-offset: 4px;

  &:focus {
    outline: 2px dotted black;
    outline-offset: 2px;
    background: lightgrey;
    color: $secondary;
  }
}

@define-mixin fade-out {
  pointer-events: none;

  li {
    transition: 250ms ease;
  }
  &:hover > * {
    opacity: 0.5;
  }

  pointer-events: auto;
  &:hover > *:hover {
    opacity: 1;
  }
}

.article-item,
.article-next,
.bg {
  animation: in 500ms;
}
