main {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 75%;
}

.content > * + * {
  margin-top: $s1;
}

body {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.container {
  max-width: $width;
  margin: 0 auto;
  padding: $s1;
}

.block-contact > * + * {
  margin-top: $s2;
}

p,
h2 {
  max-width: $width;
}

.grid {
  display: grid;
  grid-gap: $s4;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
}

.grid-l {
  display: grid;
  grid-gap: $s5;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
}

.space > * + *{
  margin-top: $s4;
}

.overview {
  margin-top: 12vh;
}

.overview > * + * {
  margin-top: $s6;
}

.center {
  display: flex;
  justify-content: center;
  height: 96vh;
  width: 100%;
  flex-direction: column;
}

.content {
  padding: $s4;
}
