main {
  flex-basis: 0;
  flex-grow: 999;
  min-width: 75%;
}

.content > * + * {
  margin-top: $s1;
}

.content > * {
  max-width: $width;
}

body {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
}

.container {
  max-width: $width;
  margin: 0 auto;
  padding: $s1;
}

.block-contact > * + * {
  margin-top: $s2;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
}

.grid-l {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
}

.grid-xl {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
}

.space > * + *{
  margin-top: $s4;
}

.overview {
  margin-top: 12vh;
}

.overview > * + * {
  margin-top: $s6;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96vh;
  width: 100%;
  flex-direction: column;
}

.newsletter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  padding: 0 10vw 0 10vw;
  background: $white;
}

.newsletter > * + * {
  margin-top: $s1;
}

@media (min-width: 1400px) {
  .newsletter {
    max-width: 40vw;
    min-width: 40vw;
  }
}


.bg-image {
  width: 100vw;
  height: 100vh;
  background: url(/static/img/bg-pattern.jpg)
}

.center > * + * {
  margin-top: $s1;
}

.content {
  padding: $s4;
  background: $black;
  position: relative;
  z-index: 1;
}

.timeline {
  display: grid;
  margin: $s4;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 1em;
}
