---
permalink: humans.txt
eleventyExcludeFromCollections: true
---

/* TEAM */

Creator: {{ metadata.author }}
Site: {{ metadata.author }}
Url: {{ metadata.url }}
Contact: {{ metadata.mail }}
Social: @{{ metadata.social }}
From: Amsterdam, The Netherlands

/* THANKS */

Wes Bos - @wesbos
https://wesbos.com/uses/

Andy Bell - @andybelldesign
https://andy-bell.design/

Aaron Gustafson - @aarongustafson
https://www.aaron-gustafson.com/colophon/

Tatiana Mac - @tatianamac
https://tatianamac.com/sponsor/

Reinier Ladan - @reinier
https://reinierladan.nl/ondersteun/

Jenny Shen - @jennyshen
https://jennyshen.com/mentorship/

Tobias Bjerrome Ahlin - @tobiasahlin
https://tobiasahlin.com/speaking/

Rob Hope - @robhope
https://onepagelove.com/feedback

Devine Lu Linvega - @neauoire
https://wiki.xxiivv.com/#home

Daniel Verlaan - @danielverlaan
https://daniel.verlaan.xyz/contact/

Sara Soueidan - @sarasoueidan
https://www.sarasoueidan.com/contact/

Jeremy Keith - @adactio
https://adactio.com/notes

Stephanie Walter - @walterstephanie
https://twitter.com/walterstephanie

Ethan Marcotte - @beep
https://ethanmarcotte.com/

Matthew Rayfield - @MatthewRayfield
http://matthewrayfield.com/projects/

/* SITE */

Standards: HTML5, CSS3
OSS: https://github.com/systemdes/personal-website/blob/master/package.json
