---
permalink: security.txt
eleventyExcludeFromCollections: true
---

Contact: mailto:hi@dandevri.es
Expires: Fri, 7 Jun 2030 12:00 +0200
Acknowledgments: https://github.com/systemdes/personal-website/releases
Preferred-Languages: en, nl
Canonical: https://www.dandevri.es/security.txt
