---
layout: layouts/default
title: Support
description: If you like my speaking, writing, courses and projects you can consider supporting me.
permalink: support/
eleventyNavigation:
  key: Support
  order: 8
---

{% import 'components/atoms/link.njk' as link %}
{% import 'components/atoms/button.njk' as button %}

<p>I believe in making resources and products public and free (as in freedom, not free as in free frappuccinos) so people can build upon them. My resources are free but not cheap. You can decide how much my resources are worth <a href="https://en.wikipedia.org/wiki/Pay_what_you_want">(pay what you want)</a>.</p>


<p><strong>Why support?</strong></p>
<ul>
  <li>You watch video's and look at slides from my talks</li>
  <li>You follow my writing, notes and useful links</li>
  <li>You learned something from my course material</li>
  <li>You benefit and used one of my Open-source projects</li>
  <li>You listen to my podcast or are subscribed to my newsletter</li>
</ul>

<p>The income from these donations and members give me the financial freedom to enjoy life more than ever before. I'm a company of one (not payed by an e-corp) partly funded by individuals like you.</p>

<p><em>Thank you for supporting me.</em></p>

<h2>Donate</h2>

<p>I don’t run ads nor do I do this for profit. A donation however would help me cover my running costs. Things like subscriptions for software, audio and video gear and hosting costs. </p>

{{ button.primary('/support/donate', 'Donate some money')}}

<h2>Other ways</h2>

<p>Don't give me anything if you can't miss it. Your attention and interest in my resources is worth more than any money. Simply being part of my work and sharing it is an valuable form of support. These are some other ways you can support me:</p>

<ul>
  <li><a href="/speaking">Pay me to give a talk at your event</a></li>
  <li><a href="/projects">Buy one of my products (like a t-shirt or sticker)</a></li>
  <li>Tell your friends about me, help me spread the word.</li>
  <li>Share my writing, podcast, newsletter and resources on social media with others.</li>
  <li>Write a review in your podcast player</li>
  <li>Contact me with your suggestions, tips and feedback</li>
</ul>



<h2>Tokens</h2>

<p>Cryptocurrency or tokens are also options. You can tip me using <a href="https://brave.com/brave-rewards/">Brave Rewards</a> with the <a href="https://brave.com/cbu444">Brave browser</a>. <a href="https://coil.com/">Coil</a> is also supported using the <a href="https://addons.mozilla.org/en-US/firefox/addon/coil/">Coil browser add-on.</a></p>

<ul>
  <li>BTC: <code>1NhociPHTGdQt99SW3DDiUoV7d1jVJTryv</code></li>
  <li>ETH: <code>0xE16fe72663cD5E488FA7eAB4961370306a8F58EA</code></li>
  <li>LTC: <code>MMsJBNbozWnnRV5GBZnRdeRsJecMB6Fhv5</code></li>
  <li>BAT: <code>0xd19A126F98D5C61d1FB5024aa3Dd69C036d8B5dF</code></li>
</ul>
