<div class="boilerform">
  <form name="question" action="/submit" method="POST" data-netlify="true">
    <fieldset>
      <legend>Information</legend>

      <label for="name" class="c-label">What is your name</label>
      <input id="name" class="c-input-field" type="text" name="name" />

      <label for="description" class="c-label">What is your question?</label>
      <textarea id="description" name="description"  class="c-input-field c-input-field--multiline"></textarea>

    </fieldset>
    <button class="btn btn-secondary" type="submit">Send question</button>
  </form>
</div>
