@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: white;
    border-color: white;
    transition: color $250ms, background-color $250ms;
  }

  ul {
    list-style-image: url(/static/img/icons/marker-light.svg);
  }

  img {
    opacity: .75;
  }
}
