---
layout: layouts/default
title: Events
permalink: speaking/events/
---

<ul class="event-list">
  {% for item in events.events %}
    {% include 'components/atoms/event.njk' %}
  {% endfor %}
</ul>
