---
layout: layouts/overview
title: Events
description: Interactive map and all upcoming and past events
permalink: speaking/events/
---

<div id="mapid"></div>

<section class="events">
  <h2>Upcoming events({{ events.events | upcoming |size }})</h2>

  <ul class="event-list grid-l">
    {% for item in events.events | upcoming  %}
      {% include 'components/atoms/event.njk' %}
    {% endfor %}
  </ul>
</section>

<section class="events">
  <h2>Past events ({{ events.events | past | size }})</h2>

  <ul class="event-list grid-l">
    {% for item in events.events | past | reverse %}
      {% include 'components/atoms/event.njk' %}
    {% endfor %}
  </ul>
</section>

<script type="module" src="/scripts/components/leaflet.js"></script>
