---
layout: layouts/default
title: Interviews
permalink: speaking/interviews/
---

  <ul class="interview-list">
  {% for item in interviews.interviews %}
    {% include 'components/atoms/interview.njk' %}
  {% endfor %}
  </ul>
