---
layout: layouts/default
title: Speaking Resources
description: You can copy-and-paste these texts and resources for use on social media or your website. If you need additional information, feel free to contact me.
permalink: /speaking/resources/
---

{% import 'components/atoms/link.njk' as link %}
{% import 'components/atoms/button.njk' as button %}

<h3>Meta</h3>

<ul>
  <li>ID: B-263-5</li>
  <li>Name: Danny de Vries</li>
  <li>Location: Amsterdam, The Netherlands</li>
  <li>Website: www.dandevri.es</li>
  <li>Social: @dandevri</li>
</ul>

<h3>Social</h3>

<ul>
  <li>{{ link.inl("https://www.twitter.com/dandevri", "Twitter") }}</li>
  <li>{{ link.inl("https://github.com/dandevri", "GitHub") }}</li>
  <li>{{ link.inl("https://www.linkedin.com/in/dandevri/", "LinkedIn") }}</li>
  <li>{{ link.inl("https://www.instagram.com/dandevri/", "Instagram") }}</li>
  <li>{{ link.inl("https://dev.to/dandevri", "Dev.to") }}</li>
  <li>{{ link.inl("https://dribbble.com/dandevri", "Dribbble") }}</li>
</ul>

<h3>Biography</h3>

<p><em>One-line pitch (third person):</em></p>
<p>Danny de Vries is a front-end designer creating digital products and lecturer at the Amsterdam University of Applied Sciences.</p>

<p><em>Short bio (third person):</em></p>
<p> Danny de Vries is a front-end designer building digital products. He is passionate about design systems, brand identities, interfaces and web development. His approach is organized, systematic and inclusive. He also works as a lecturer at the Amsterdam University of Applied Sciences where he lectures about web development in the technical courses of the program.</p>

<p><em>Long bio (third person):</em></p>
<p> Danny de Vries is a front-end designer building digital products. He is passionate about design systems, brand identities, interfaces and web development. His approach is organized, systematic and inclusive. He is also a lecturer and mentor at Communication and Multimedia Design, a human-centred and context-sensitive bachelor-level design education in the field of interactive digital products and services, at the Amsterdam University of Applied Sciences. He lectures in the technical courses of that program such as; front-end, back-end & data visualization.</p>

<h3>Download</h3>
<p>Here's a <code>.zip</code> with full resolution web optimized .jpeg images and all the biographies in <code>.md</code> format.</p>

{{ button.primary('/static/other/presskit.zip', 'Download .zip')}}
