---
layout: layouts/default
title: Speaking
description: I'd like to talk about tech, building for the web and tinkering with code. Some of my talks are technical with code examples. I can give these at your conference or within office hours at your company or meet-up.
permalink: speaking/
---

{% import 'components/atoms/link.njk' as link %}

<p>When I started as a lecturer I fell in love with speaking and teaching students new skills. After a year or so I asked myself; 'Why keep this all this stuff I and students are learning inside the classroom?'. After that I started sharing my knowledge at meet-ups but that quickly turned into giving guest-lectures at companies. Things escalated  and I was regularly asked to talk at conferences, schools and other companies with growing audiences. </p>

<p>If you’re interested in having me speak or host a workshop at your event or conference, {{ link.inl("/press-kit/guidelines", "please read this first") }} and get in touch! I've also prepared a {{ link.inl("/press-kit/resources", "press kit") }} with material you can copy-paste.</p>

<a class="btn" href="#">I want you to speak at my event!</a>
<p>Perhaps I can interest you in a workshop instead?</p>

<h2>Talks</h2>

<p>I'd like to talk about tech, building for the web and tinkering with code. Some of my talks are technical with code examples. I'm fascinated by how people interact and spend their time in this digital age.</p>

<p>My brief talks are around ~30 minutes and are well suited for office talks and meet-ups at your company. These talks are full of practical tips, short examples and lots of resources for you to get back to work.</p>

<a class="btn" href="/speaking/talks">Full list of talks</a>

<h3>events</h3>

  <ul class="event-list">
  {% for item in events.events | limit(3) %}
    <li class="event">
      <p>{{ item.date }}</p>
      <p><a href="{{ item.link }}">{{ item.title }}</a></p>
      <p>{{ item.location }}</p>
      <p>
      {% if item.slides %}
        <a href="{{ item.slides }}">Slides</a>
        {% elif item.video %}
        <a href="{{ item.video }}">Video</a>
        {% else %}
        <p>{{ item.appear }}</p>
      {% endif %}
      </p>
    </li>
  {% endfor %}
  </ul>

<a class="btn" href="/speaking/events">All events</a>

<h2>Interviews</h2>

  <ul class="interview-list">
  {% for item in interviews.interviews | limit(5) %}
    <li class="interview interview-{{ item.type }}">
      <p><a href="{{ item.link }}">{{ item.title }} {{ item.episode }}</a></p>
      <p>with {{ item.publication }} • {{ item.date }}</p>
    </li>
  {% endfor %}
  </ul>

<a class="btn" href="/speaking/interviews">All interviews</a>
