---
layout: layouts/default
title: Talks
permalink: speaking/talks/
---

{% import 'components/atoms/card.njk' as card %}

<p>My brief talks are around ~30 minutes and are well suited for office talks and meet-ups at your company. These talks are full of practical tips, short examples and lots of resources for you to get back to work.</p>

<div class="course grid-l">
  {% for talk in collections.talks %}
    {{ card.item
      (
        talk.url,
        talk.data.image,
        talk.data.title,
        talk.data.description
      )
    }}
  {% endfor %}
</div>
