---
layout: layouts/default
title: Talks
permalink: speaking/talks/
---

<h2>Office talks</h2>
<p>My brief talks are around ~30 minutes and are well suited for office talks and meet-ups at your company. These talks are full of practical tips, short examples and lots of resources for you to get back to work.</p>

<h3>Previous companies</h3>
