<header>
  <div>
    <h1 class="display">Hi, I'm Danny.</h1>
    <p>A front-end designer focusing on design systems, brand identity and creative coding to help digital products take shape. My approach is organized, systematic and inclusive. I work as a lecturer and researcher at the Amsterdam University of Applied Sciences where I teach students about designing for the web in the technical courses of our program.</p>
  </div>
</header>
