<nav>
  <img src="/static/img/logo.svg">
  <ul>
    <li><a href="#">Item-1</a></li>
    <li><a href="#">Item-1</a></li>
    <li><a href="#">Item-1</a></li>
    <li><a href="#">Item-1</a></li>
  </ul>
</nav>
