---
layout: layouts/default
title: Ask a question
description: Do you have a question I should post to the AMA page or answer on the podcast?
permalink: ask-a-question/
---

<p>Ask away, it can be about anything. I'll do my best to answer it publicly. Include as much information (context) as you can. Enter 'anonymously' in the name field if you prefer me not to mention your name.</p>

{% include 'components/molecules/forms/ask-a-question.njk' %}
