---
layout: layouts/default
title: Interview request
description: Would you like to invite me for an interview or podcast?
permalink: interview-request/
---

<p>If you fill in the form below I have every bit of information I need to make a well-informed decision! I'll get back to you within 2-3 days.</p>

<p>If you're looking for photos, biographies etc. you can copy-paste them from my <a href="/speaking/resources">Speaking Resources.</a></p>

{% include 'components/molecules/forms/interview-form.njk' %}
