---
layout: layouts/default
title: Speaking request
description: Would you like to invite me for an event or host a workshop?
permalink: speaking-request/
---

<p>If you fill in the form below I have every bit of information I need based on my <a href="/speaking/guidelines">Speaking Guidelines</a> and <a href="/speaking/questionnaire">Speaking Questionnaire</a>! I'll get back to you within 2-3 days.</p>

<p>If you're looking for photos, biographies etc. you can copy-paste them from my <a href="/speaking/resources">Speaking Resources.</a></p>

{% include 'components/molecules/forms/speaking-form.njk' %}
