nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;

  img {
    width: 4em;
  }

  ul {
    display: flex;
    overflow-x: auto;
    @mixin reset-list;

    li:not(:last-child) {
      margin-right: 1em;
    }
  }
}
