---
layout: layouts/default
title: About
permalink: about/
---

{% import 'components/link.njk' as link %}

<p>I'm Danny. A digital native focussing on design systems, brand identity and creative coding to help digital products take shape. My approach is organized, systematic and inclusive.</p>

<p>Details matter. With a clean, functional and minimal aesthetic I can work on your companies: visual language, user interface, experience design or front-end website.</p>

<p>I've worked at agencies like Fabrique and We Brand Creative working on projects for high-profile clients such as Rijksmuseum Boerhaave, Wolfgang and TESO. While doing Freelance work on the side.</p>

<p>During the Minor Web Development Communication and Multimedia Design at the University of Applied Sciences Amsterdam I've worked on projects for the Netherlands War Graves Foundation, Funda and the Public Library of Amsterdam.</p>

<p>I work as a lecturer and researcher at the Amsterdam University of Applied Sciences where I lecture about code in the technical courses of our program such as {{ link.inl("https://github.com/cmda-bt", "front-end and back-end") }}.</p>
