---
layout: layouts/default
title: Coaching
permalink: coaching/
---

<ul>
  <li>Mentorship</li>
  <li>Coaching sessions</li>
  <li>Feedback</li>
</ul>

<p>I wouldn't be where I am today if it wasn't for the people surrounding me that always pushed me further and to get more out of life. People put me in environments where I wasn't really ready for, I did things where I didn't have any credits for. 'Go do it, because it needs to happen.' And off I went figuring stuff out along the way.I have a ton of admiration for these people that believed in me in pushed me. And I'm making an effort to “pay it forward” by helping other professionals out. </p>

<p> I've experienced that people need slight guidance or an 'accountability partner' to get them over the edge. Making mistakes is a good thing but learning from good experiences might even be better. Having a mentor could prevent me making bad decisions tons of times. </p>

<h2>Mentorship</h2>

<p>I want to help newcomers in their journeys become better UX designers. I want to support my mentees and inspire them with my wins. I want to tell them about the crazily bad decisions I made and how to not repeat my mistakes. I want to be the mentor that I never had.</p>

<p>Mentor Experience: Part of the Ladies that UX Amsterdam mentorship program, I'm a lecturer and coach at the amsterdam university of applied sciences were I help students all the time.</p>

<h3 class="block__title">Help you with</h3>
<ul class="block">
  {% for item in mentorship.help %}
    <li>{{ item.description }}</li>
  {% endfor %}
</ul>

<h3>Topics</h3>
<ul>
  <li>Web design</li>
  <li>Visual design</li>
  <li>Front-end development</li>
  <li>Public speaking</li>
  <li>Design critique</li>
  <li>Building your portfolio</li>
</ul>

<h3 class="block__title">What you'll get</h3>
<ul class="block">
  {% for item in mentorship.get %}
    <li>{{ item.description }}</li>
  {% endfor %}
</ul>

<h3>Apply for a mentorship</h3>

If you’re interested, please apply below!

<h3 class="block__title">How it works</h3>
<ul class="block">
  {% for item in mentorship.works %}
    <li>{{ item.description }}</li>
  {% endfor %}
</ul>

<h3>Expect from you</h3>
<p>It doesn't really matter where you are in your career.Basic digital design knowledge and is passionate for the web. It's best to have an active (side) project, job or job oppurtinity to apply the skills to. It's best to be proactive, share your experience as much as possible and come prepard with questions.</p>

<p>I prefer in-person sessions but if that's not possible due to travel time or costs video chats are also possible. I want to make sure we are a good fit. I specialise in the areas mentioned above, if your dream area is not on that list I might not be the best mentor for you.</p>

<h2>Coaching session</h2>

<h2>Feedback</h2>

