---
layout: layouts/default
title: Coaching
description: Helping newcomers in their journey becoming better designers. Be the mentor that I never had.
permalink: coaching/
eleventyNavigation:
  key: Coaching
  order: 4
cover: /static/img/share/share-coaching.jpg
sentence: Helping newcomers in their journey becoming better designers. Be the mentor that I never had.
---

{% import 'components/atoms/card.njk' as card %}
{% import 'components/atoms/quote.njk' as quote %}
{% import 'components/atoms/button.njk' as button %}
{% import 'components/molecules/skip-list.njk' as list %}

<p>I wouldn't be where I am today if it wasn't for the people surrounding me that always pushed me further and to get more out of life. People put me in environments where I wasn't really ready for, I did things where I didn't have any credits for. 'Go do it, because it needs to happen.' and off I went figuring stuff out along the way.</p>

<p>I have a ton of admiration for these people that believed in me and pushed me but also would loved to have a good mentor back then. I want to be the mentor that I never had. I'm making an effort to “pay it forward” by making you grow as a designer helping you develop and improve the areas we’ll work on together. </p>

<p> I've experienced that people need slight guidance or an 'accountability partner' to get them over the edge. Making mistakes is a good thing but learning from good experiences might even be better. Having a mentor could have prevented me making bad decisions tons of times. </p>

<h2 id="mentorship">Mentorship</h2>

<p>It doesn't really matter where you are in your career. You decide what you want to talk about and what you need from me. I want to help you in journey by become a better designer. I want to support you and inspire you with my wins. I want to tell you about the crazily bad decisions I made and how to not repeat my mistakes. </p>

<p>Mentor Experience: Part of the Ladies that UX Amsterdam mentorship program, I'm a lecturer and coach at the amsterdam university of applied sciences were I help students all the time.</p>

<div class="block">
  <h3 class="block-title">Help you with</h3>
  <ul class="block-list">
    {% for item in mentorship.help %}
      <li>{{ item.description }}</li>
    {% endfor %}
  </ul>
</div>

<div class="block">
  <h3 class="block-title">What you'll get</h3>
  <ul class="block-list">
    {% for item in mentorship.get %}
      <li>{{ item.description }}</li>
    {% endfor %}
  </ul>
</div>

<div class="block">
  <h3 class="block-title">How it works</h3>
  <ul class="block-list">
    {% for item in mentorship.works %}
      <li>{{ item.description }}</li>
    {% endfor %}
  </ul>
</div>

<h4>Apply for a mentorship</h4>

<p>If you’re interested, please apply below! It's best to have an active (side) project, job or job oppurtinity to apply the skills to. It's best to be proactive, share your experience as much as possible and come prepard with questions.</p>

<p>I prefer in-person sessions but if that's not possible due to travel time or costs video chats are also possible. I want to make sure we are a good fit. I specialise in the areas mentioned above, if your dream area is not on that list I might not be the best mentor for you. </p>

{{ card.product("Apply now", "/#", "Mentorship Program 19-20") }}


<h2 id="coaching">Coaching session</h2>

<p>We get together on a 1:1 video call for an hour and talk about your needs and how I can help. We'll record the session(s) so you can review it later. You'll leave with actionable steps.</p>

<div class="block">
  <h3 class="block-title">How it works</h3>
  <ul class="block-list">
    {% for item in mentorship.call %}
      <li>{{ item.description }}</li>
    {% endfor %}
  </ul>
</div>

<p><strong>Single sessions</strong> are great for bouncing around ideas quickly. <strong>Triple sessions</strong> are recommended for longer term goals. We can then do an <em>orienting {1), progress (2) & review (3)</em> session.</p>

{{ card.product("1x Coaching Session", "/#", "Book a single coaching session") }}
{{ card.product("3x Coaching Session", "/#", "Book a triple coaching session") }}

<h2 id="feedback">Feedback</h2>

<p>Pick my brain! It's good to get an outside perspective every once in a while. You can simply submit your work (attachment), URL of your project with a bit of context or detailed explanation of your problem. Only thing I ask from you if you buy me a cup of coffee.</p>
<p>I love giving feedback or doing quick reviews (first impressions) of projects. I talk while interacting with the URL or work you've provided and send back a 5 minute recorded video.</p>

{{ button.primary("#", "Request feedback")}}

<span>Sample of video</span>

{# <h2>Don't take my word for it</h2>
  {{ quote.test("I've seen things you people wouldn't believe. Attack ships on fire off the shoulder of Orion. I watched C-beams glitter in the dark near the Tannhäuser Gate. All those moments will be lost in time, like tears in rain.", 'Rutger Hauer,', 'Mentee') }}
  {{ quote.test("I've seen things you people wouldn't believe. Attack ships on fire off the shoulder of Orion. I watched C-beams glitter in the dark near the Tannhäuser Gate. All those moments will be lost in time, like tears in rain.", 'Rutger Hauer,', 'Mentee') }} #}
