---
layout: layouts/default
permalink: components/
---

<h1>Components</h1>

<span>Image</span>
{% include 'components/image.njk' %}
<br>
<hr>
<span>Image with caption</span>
{% include 'components/figure.njk' %}
<br>
<hr>
<span>Button</span>
<br>
<br>
{% include 'components/button.njk' %}
<br>
{% include 'components/image-motion.njk' %}
<br>
<hr>
