---
layout: layouts/default
title: Contact
description: Feel free to contact me if you have any questions. You can e-mail, chat or follow me on any of the social platforms. You can find me on many places on the internet as @dandevri.
permalink: contact/
---
{% import 'components/atoms/link.njk' as link %}
{% import 'components/atoms/details.njk' as details %}

<h3>Mail</h3>

<p>Oh, e-mail. I have a bit of a love–hate relationship with digital letters. The most <em>formal</em> way to reach me which usually yields a <em>crafted</em> response from me.

<ul>
  <li>{{ link.mail("hi@dandevri.es") }} (personal)</li>
  <li>{{ link.mail("finance@dandevri.es") }} (business)</li>
  <li>{{ link.mail("d.de.vries4@hva.nl") }} (university)</li>
</ul>

<h3>Chat</h3>
<em>Informal</em> way to reach me for <em>quick</em> questions and <em>brief</em> responses.

<ul>
  <li>{{ link.inl("https://keybase.io/dandevri", "Keybase @dandevri") }}</li>
  <li>{{ link.inl("https://api.whatsapp.com/send?phone=31641025262", "WhatsApp Conversation") }}</li>
  <li>{{ link.inl("https://www.twitter.com/dandevri", "Twitter Direct Message") }}</li>
  <li>{{ link.tel("31641025262") }}</li>
</ul>

<h3>Social</h3>

Best suited to keep track of what I'm doing without engaging in the matter. <br>
<em>In order of most active</em>

<ul>
  <li>{{ link.inl("https://www.twitter.com/dandevri", "Twitter") }}</li>
  <li>{{ link.inl("https://github.com/dandevri", "GitHub") }}</li>
  <li>{{ link.inl("https://www.linkedin.com/in/dandevri/", "LinkedIn") }}</li>
  <li>{{ link.inl("https://www.instagram.com/dandevri/", "Instagram") }}</li>
  <li>{{ link.inl("https://dev.to/dandevri", "Dev.to") }}</li>
  <li>{{ link.inl("https://dribbble.com/dandevri", "Dribbble") }}</li>
</ul>

<h3>Faq</h3>

{{ details.details("Ask me Anything?", "  I host a #ama over on dev.to. You can see if I already answered your question publicly!") }}
{{ details.details("Why are you slow to respond?", "  I batch process most of my messages at the end of the day instead of constantly checking and refreshing.") }}
{{ details.details("Invite me to speak", " Please read this guide for speaking. Check out the speaking page for upcomming events. I've prepared a press kit.") }}
{{ details.details("You are not responding!", "I value my time and get quite a lot of mails and messages, sometimes I don’t have the capacity to respond to every one of them. I try to respond to urgent messages and mail first. If you don't have a reply within 3/4 days that usually means I decided your request wasn't worth my time. Hé, you are in my inbox!") }}
{{ details.details("What gear do you use?", "I have an 'uses' pages which lists all the software and hardware that I use.") }}
{{ details.details("I need your corporate stuff!", "Dandevri is registered in the Dutch Chamber of Commerce (VAT registered) under number 63938804.") }}
