---
layout: layouts/default
title: Contact
description: Feel free to contact me if you have any questions. You can e-mail, chat or follow me on any of the social platforms. You can find me on many places on the internet as @dandevri.
permalink: contact/
---
{% import 'components/atoms/link.njk' as link %}
{% import 'components/atoms/details.njk' as details %}

<div class="block-contact">
<h3>Mail</h3>
<p>Oh, e-mail. I have a bit of a love–hate relationship with digital letters. The most <em>formal</em> way to reach me which usually yields a <em>crafted</em> response from me.

<ul>
  <li>{{ link.mail("hi@dandevri.es") }} (personal)</li>
  <li>{{ link.mail("finance@dandevri.es") }} (business)</li>
  <li>{{ link.mail("d.de.vries4@hva.nl") }} (university)</li>
</ul>
</div>

<div class="block-contact">
<h3>Chat</h3>
<p><em>Informal</em> way to reach me for <em>quick</em> questions and <em>brief</em> responses.</p>

<ul>
  <li>{{ link.ext("https://keybase.io/dandevri", "Keybase @dandevri") }}</li>
  <li>{{ link.ext("https://api.whatsapp.com/send?phone=31641025262", "WhatsApp Conversation") }}</li>
  <li>{{ link.ext("https://www.twitter.com/dandevri", "Twitter Direct Message") }}</li>
  <li>{{ link.tel("+316 41 02 52 62") }}</li>
</ul>
</div>

<div class="block-contact">
<h3>Social</h3>
<p>Best suited to keep track of what I'm doing without engaging in the matter.
<em>In order of most active</em></p>

<ul>
  <li>{{ link.inl("https://www.twitter.com/dandevri", "Twitter") }}</li>
  <li>{{ link.inl("https://github.com/dandevri", "GitHub") }}</li>
  <li>{{ link.inl("https://www.linkedin.com/in/dandevri/", "LinkedIn") }}</li>
  <li>{{ link.inl("https://www.instagram.com/dandevri/", "Instagram") }}</li>
  <li>{{ link.inl("https://dev.to/dandevri", "Dev.to") }}</li>
  <li>{{ link.inl("https://dribbble.com/dandevri", "Dribbble") }}</li>
</ul>
</div>

{{ details.details(
  "Ask Me Anything?",
  "I host a #ama over on [dev.to](https://dev.to/dandevri/im-danny-de-vries-web-development-lecturer-at-the-amsterdam-university-ask-me-anything-1b48). You can see if I already answered your question publicly! If it's not on there, ask it!")
}}
{{ details.details(
  "Why are you slow to respond?",
  "I value my time and get quite a lot of mails and messages, often rather spend time making things. I've written about how I deal with mail and messages in [this guide.](/guides/mail-workflow)")
}}
{{ details.details(
  "What gear do you use?",
  "I'm an absolute Gearhead and EDC person. On this ['uses'](/#) pages I've listed all the software, hardware and tools that I use.")
}}

{{ details.details(
  "I need your corporate stuff!",
  "If something has an exclamation mark on the end, is it a question? Dandevri is registered in the [Netherlands Chamber of Commerce](https://www.kvk.nl/english/) (VAT registered) under number 63938804.")
}}
