---
layout: layouts/default
title: Contact
description: You can e-mail, chat or follow me on any of the social platforms. Find me on many places on the internet as @dandevri.
permalink: contact/
eleventyNavigation:
  key: Contact
  order: 10
---

{% import 'components/atoms/link.njk' as link %}
{% import 'components/atoms/social.njk' as social %}
{% import 'components/atoms/details.njk' as details %}
{% import 'components/molecules/image-grid.njk' as grid %}

<h3>Mail</h3>
<p>Oh, e-mail. I have a bit of a love–hate relationship with digital letters. The most <em>formal</em> way to reach me which usually yields a <em>crafted</em> response from me.

<ul>
  <li>{{ link.mail("hi@dandevri.es") }} (personal)</li>
  <li>{{ link.mail("finance@dandevri.es") }} (administration)</li>
  <li>{{ link.mail("d.de.vries4@hva.nl") }} (university)</li>
</ul>


<h3>Chat</h3>
<p><em>Informal</em> way to reach me for <em>quick</em> questions and <em>brief</em> responses.</p>

<ul>
  <li>{{ link.ext("https://keybase.io/dandevri", "Keybase @dandevri") }}</li>
  <li>{{ link.ext("https://api.whatsapp.com/send?phone=31641025262", "WhatsApp Conversation") }}</li>
  <li>{{ link.ext("https://www.twitter.com/dandevri", "Twitter Direct Message") }}</li>
  <li>{{ link.tel("+316 41 02 52 62") }}</li>
</ul>


<h3>Social</h3>
<p>Best suited to keep track of what I'm doing without engaging in the matter.
<em>In order of most active</em></p>

<ul class="social">
  {{ social.icon("https://www.twitter.com/dandevri", "/static/img/icons/social/twitter.svg", "Twitter", "Tweets about tech and other random stuff.") }}
  {{ social.icon("https://github.com/dandevri", "/static/img/icons/social/github.svg", "GitHub", "Open-source projects and contributions.") }}
  {{ social.icon("https://www.linkedin.com/in/dandevri/", "/static/img/icons/social/linkedin.svg", "LinkedIn", "Experience and all the corporate shanigans") }}
  {{ social.icon("https://www.instagram.com/dandevri/", "/static/img/icons/social/instagram.svg", "Instagram", "Pretty pictures with tons of filters") }}
  {{ social.icon("https://dev.to/dandevri", "/static/img/icons/social/dev.svg", "Dev.to", "All the more technical related writing") }}
  {{ social.icon("https://dribbble.com/dandevri", "/static/img/icons/social/dribbble.svg", "Dribbble", "Design artifacts and work in progress client work") }}
  {{ social.icon("https://patreon.com/dandevri", "/static/img/icons/social/patreon.svg", "Patreon", "Exclusive content and support option") }}
  {{ social.icon("https://goodreads.com/dandevri", "/static/img/icons/social/goodreads.svg", "Goodreads", "Want to read books and reviews") }}
  {{ social.icon("https://codepen.io/dandevri", "/static/img/icons/social/codepen.svg", "Codepen", "Code snippets and developer artifacts") }}
  {{ social.icon("https://open.spotify.com/user/t95h7b14iz3dgn561fgu1ik14?si=TjbOvzdxS1imHanH2wjZ9Q", "/static/img/icons/social/spotify.svg", "Spotify", "Weekly Playlists and classic house beats") }}
</ul>

<h3>#AMA</h3>
<p>I host a ask me anything over on my <a href="/ama">#ama page</a>. You can see if I already answered your question publicly. If it's not on there, ask it and I'll add it to the list!</p>
