---
layout: layouts/default
title: Feed
permalink: feed/
---

<h1>RSS Feeds</h1>

<a href="/articles/feed.xml">Articles</a>
<a href="/notes/feed.xml">Notes</a>
<a href="/weeknotes/feed.xml">Weeknotes</a>
<a href="/links/feed.xml">Links</a>
<a href="/journal/feed.xml">Journal</a>
