---
layout: layouts/overview
title: Notes
permalink: notes/
---
{% import 'components/atoms/card.njk' as card %}

<ul class="list line">
  {%- for note in collections.note | reverse -%}
    {{ card.list
      (
        note.url,
        note.data.title,
        note.templateContent | safe,
        note.data.date,
        note.data.type
      )
    }}
  {%- endfor -%}
</ul>
