---
layout: layouts/default
title: Press kit
permalink: press-kit/resources/
---

{% import 'components/atoms/link.njk' as link %}

<p>You can copy-and-paste these texts and resources for use on social media or conference pages. If you need additional information, feel free to <a href="https://wwww.dandevri.es/contact">contact me</a>.

<h3>Meta</h3>

<ul>
  <li>ID: B-263-5</li>
  <li>Name: Danny de Vries</li>
  <li>Title: Digital Tinkerer</li>
  <li>Location: Amsterdam, The Netherlands</li>
  <li>Website: www.dandevri.es</li>
  <li>Social: @dandevri</li>
</ul>


<h3>Social</h3>

<ul>
  <li>{{ link.inl("https://www.twitter.com/dandevri", "Twitter") }}</li>
  <li>{{ link.inl("https://github.com/dandevri", "GitHub") }}</li>
  <li>{{ link.inl("https://www.linkedin.com/in/dandevri/", "LinkedIn") }}</li>
  <li>{{ link.inl("https://www.instagram.com/dandevri/", "Instagram") }}</li>
  <li>{{ link.inl("https://dev.to/dandevri", "Dev.to") }}</li>
  <li>{{ link.inl("https://dribbble.com/dandevri", "Dribbble") }}</li>
</ul>

<h3>Biography</h3>

<span><em>One-line pitch (third person):</em></span>
<p>Danny is a freelance front-end designer tinkering with code and lecturer at the Amsterdam University of Applied Sciences.</p>

<span><em>Short-bio (third person):</em></span>
<p> Danny is a freelance front-end designer building digital products trough his design practice Studio Title and tinkering with code on digital projects on the side. He also works as a lecturer at the Amsterdam University of Applied Sciences where he lectures about web development in the technical courses of the program.</p>

<h3>Looking for photos?</h3>

<a href="/static/img/avatar.jpg">
  <img src="/static/img/avatar.jpg"></img>
</a>

<h3>Download</h3>
Download everything in <code>markdown</code> format with full resolution web optimized <code>.jpeg</code> images.

<a class="btn" href="/static/other/#">Download .zip</a>
