---
layout: layouts/default
title: Speaking Guidelines
permalink: press-kit/guidelines/
---

<h2>Guidelines</h2>

<p>Conference Code of Conduct.</p>

<p>Information about the event.Atendees, topics and such.</p>

<p>Traveling, fees, non-profits etc.</p>
