---
layout: layouts/default
title: Speaking Guidelines
permalink: press-kit/guidelines/
---

Thanks for inviting me to speak! I've made some personal guidelines.

<h2>Information</h2>

<p>I'm passionate to talk about topics that are important to me, but also try and tailor my talk to your event. It would be great if you could give me some information before the event.</p>

<ul>
  <li>What kind of topic you’d like me to talk about?</li>
  <li>What kind of audience will attend?</li>
  <li>How many attendees are you expecting at the event?</li>
</ul>

<p>The sooner you get in touch about your event, the better. Upcoming events are listed on the speaking page so you can see my general availability. I usually plan ~6 months in advance.</p>

<p>I only speak at events that have a <strong>code of conduct</strong> enforced. Your event should have a friendly, safe and welcoming environment for all. Your venue should be <strong>accessibile for all</strong>. Your line-up should be <strong>diverse</strong>.</p>

<h2>Resources</h2>
<p>If the talk is recorded I expect it to be available for free to everyone. If the slide deck doesn't contain any confidential information I'll usually <a href="https://slides.com/dandevri">share it publicly</a>. I'm happy to provide the deck in advance.</p>

<p>I will use my MacBook (jup the one with USB-C only ports, dongle life) to control my deck created with slides.com. I present best when my speaker notes are visible to me during the talk, if possible, trough a speaker monitor on the ground (ted style).I take care and pride in the design of my deck so they are <a href="https://presentation.design/">good looking</a> and <a href="https://www.smashingmagazine.com/2018/11/inclusive-design-accessible-presentations/">readable to all.</a><p>

<h2>Fee</h2>

<p>My fee can change based on the type of event especially for non-profit, community events. If I have to create a new talk, then I expect to be <a href="https://www.smashingmagazine.com/2018/12/state-of-commercial-web-conferences-events/">paid for the the time that goes into preparing it</a>.</p>

<h2>Traveling</h2>

<p>Travel expenses (flights, ground transportation and accommodation) are expected to be <a href="https://twitter.com/smashingmag/status/1072462796191907841">covered up front</a>. I’m a freelancer and these costs are not covered by a company that I work for.</p>


