---
layout: layouts/overview
title: Projects
description: Silly side projects, open-source tools and websites scattered around the web.
permalink: projects/
eleventyNavigation:
  key: Projects
  order: 5
cover: /static/img/share/share-projects.jpg
sentence: Silly side projects, open-source tools and websites scattered around the web.
---
{% import 'components/atoms/card.njk' as card %}

<section class="grid-l">
  {%- for project in collections.project -%}
    {{ card.item
      (
        project.url,
        project.data.image,
        project.data.title,
        project.data.description
      )
    }}
  {%- endfor -%}
</section>
