---
layout: layouts/default
title: Projects
description: Silly side projects, open-source tools and websites scattered around the web.
permalink: projects/
---
{% import 'components/atoms/card.njk' as card %}

<section class="grid-l">
  {%- for project in collections.project -%}
    {{ card.item
      (
        project.url,
        project.data.image,
        project.data.title,
        project.data.description
      )
    }}
  {%- endfor -%}
</section>
