---
layout: layouts/default
title: Projects
description: Silly projects scattered around the web. Sometimes I tinker with code or create DIY projects. Most of them are just fun side projects that have no meaning at all and aren't for anybody to use.
permalink: projects/
---
{% import 'components/atoms/card.njk' as card %}

<section class="grid">
  {%- for project in collections.project -%}
    {{ card.item
      (
        project.url,
        project.data.image,
        project.data.title,
        project.data.description
      )
    }}
  {%- endfor -%}
</section>
