---
layout: layouts/default
title: Speaking
subtitle: If you’re interested in having me speak or host a workshop at your event or conference, please feel free to reach out.
permalink: speaking/
---

{% import 'components/atoms/link.njk' as link %}

<p>If you’d like to invite me to speak at your event, {{ link.inl("/press-kit/guidelines", "please read this first") }}. I've also prepared a {{ link.inl("/press-kit/resources", "press kit") }} with material you can copy-paste.</p>

<ul class="skip__list">
  <li><a href="#mentorship">Talks ↓</a></li>
  <li><a href="#coaching">Events ↓</a></li>
  <li><a href="#feedback">Interviews ↓</a></li>
</ul>

<h2>Talks</h2>

<h3>Conferences</h3>

<h3>Office talks</h3>

My talks are perfect for giving your team a break from their daily to-do's to focus on having fun and getting an outside perspective. Don't worry, I won't encourage your team to quit their jobs and become self-employed!

<h2>Upcoming events</h2>

  <ul>
  {% for item in events.events2018 %}
    <li>
      <p><a href="{{ item.link }}">{{ item.title }}</a></p>
      <p>{{ item.date }}</p>
      <p>{{ item.location }}</p>
      <p>{{ item.slides }}</p>
      <p>{{ item.video }}</p>
    </li>
  {% endfor %}
  </ul>

<h2>Interviews</h2>
