---
layout: layouts/default
title: Speaking
description: Talking about tech, building for the web and tinkering with code. My talks are full of practical tips, short examples and lots of resources.
permalink: speaking/
eleventyNavigation:
  key: Speaking
  order: 6
---

{% import 'components/atoms/link.njk' as link %}
{% import 'components/atoms/button.njk' as button %}

<p>When I started as a lecturer I fell in love with speaking in front of a classroom. After a year or so I asked myself: 'Why keep all this material inside the classroom?'. It escalated after that and I started sharing my knowledge at local meet-ups, guest lectures at other universities, companies and conferences. </p>

{% figurePath '/static/img/photos/classroom.jpg', 'classroom-danny.jpg' %}


<p>If you’re interested in having me speak at your event or conference, {{ link.inl("/speaking/guidelines", "please read this first") }} and get in touch!</p>

{{ button.primary("/contact", "Let's talk!") }}

<h2>What I talk about</h2>

<p>I'd like to talk about technology, building for the web and tinkering with code. Some are easy-to-understand introductions, others are a bit more technical with tons of code examples. They are usually designed for a wide audience and I’m very friendly to non-technical audiences.</p>

<p>My talks are brief (around ~30/40 minutes) and are full of practical tips, short examples and lots of resources for you to get play around with the material on your own.</p>

<p>Click below for a list of all my public talks, including slides, resources and transcripts.</p>

{{ button.primary("/speaking/talks", "List of all talks") }}

<p>For more topics, have a <a href="/writing">look at my blog</a>. I’d be happy to create a talk about a topic covered there.</p>

<p>I also can give these talks in-house at your company. If you feel like you’d like something more in-depth, you can also look for a workshop. I’ve run workshops for public events, universities and companies.</p>

{{ button.primary("/teaching", "Teaching and workshops") }}

<h3>Events</h3>

<ul class="event-list">
  {% for item in events.events | limit(3) %}
    {% include 'components/atoms/event.njk' %}
  {% endfor %}
</ul>

{{ button.secondary("/speaking/events", "All events") }}

<h2>Interviews</h2>

  <ul class="interview-list">
  {% for item in interviews.interviews | limit(5) %}
    {% include 'components/atoms/interview.njk' %}
  {% endfor %}
  </ul>

{{ button.secondary("/speaking/interviews", "All interviews") }}
