---
layout: layouts/default
title: Speaking
description: Talking about tech, building for the web and tinkering with code. My talks are full of practical tips, short examples and lots of resources.
permalink: speaking/
---

{% import 'components/atoms/link.njk' as link %}
{% import 'components/atoms/button.njk' as button %}

<p>When I started as a lecturer I fell in love with speaking and teaching students new skills. After a year or so I asked myself; 'Why keep this all this stuff I and students are learning inside the classroom?'. After that I started sharing my knowledge at meet-ups but that quickly turned into giving guest-lectures at companies. Things escalated  and I was regularly asked to talk at conferences, schools and other companies with growing audiences. </p>

<p>If you’re interested in having me speak or host a workshop at your event or conference, {{ link.inl("/speaking/guidelines", "please read this first") }} and get in touch! I've also prepared some {{ link.inl("/speaking/resources", "resources") }} with material you can copy-paste.</p>

{{ button.primary("/contact", "Let's talk!") }}

<h2>Talks</h2>

<p>I'd like to talk about tech, building for the web and tinkering with code. Some of my talks are technical with code examples. I'm fascinated by how people interact and spend their time in this digital age.</p>

<p>My brief talks are around ~30 minutes and are well suited for office talks and meet-ups at your company. These talks are full of practical tips, short examples and lots of resources for you to get back to work.</p>

{{ button.primary("/speaking/talks", "All talks") }}

<h3>Events</h3>

<ul class="event-list">
  {% for item in events.events | limit(3) %}
  {% endfor %}
</ul>

{{ button.secondary("/speaking/events", "All events") }}

<h2>Interviews</h2>

  <ul class="interview-list">
  {% for item in interviews.interviews | limit(5) %}
    {% include 'components/atoms/interview.njk' %}
  {% endfor %}
  </ul>

{{ button.secondary("/speaking/interviews", "All interviews") }}
