---
layout: layouts/default
title: Support
permalink: support/
---

{% import 'components/atoms/link.njk' as link %}

<h1>Support</h1>

<p>If you like my speaking, writing, courses and projects, you can consider supporting me. I believe in making resources and products public and free (as in freedom, not free as in free frappuccinos) so people can build upon them. You can decide how much you want to donate (<a href="https://en.wikipedia.org/wiki/Pay_what_you_want">Pay what you want</a>) and decide how much my resources are worth.</p>

<p><strong>Why support?</strong></p>
<ul>
  <li>You watch video's and look at slides from my talks</li>
  <li>You follow my writing, notes and useful links</li>
  <li>You learned something from my course material</li>
  <li>You benefit and used one of my Open-source projects</li>
</ul>

<h2>Patreon</h2>

<p>If you want to continously support me in the form of monthly 'subscription' Patreon is the best option. You get access to Patreon only content and will get exclusive early access to future content and products.</p>

{{ link.ext("https://www.patreon.com/dandevri", "Patreon Page") }}

<h2>Donate</h2>

<ul>
  <li>{{ link.inl("https://bunq.me/dandevri/3", "Cup of coffee (€3)") }}</li>
  <li>{{ link.inl("https://bunq.me/dandevri/6", "Cup of coffee with pie (€6)") }}</li>
  <li>{{ link.inl("https://bunq.me/dandevri", "Or choose your amount") }}</li>
</ul>

<h3>Spend</h3>
<p>Your contribution will be well spent.

<ul>
  <li>Subscriptions and software (e.g. Notion, Slides)</li>
  <li>Video and audio gear to create better content (e.g. microphone, mixer)</li>
  <li>Hosting and transcription costs (e.g. podcast, web hosting)</li>
</ul>

<h2>People</h2>
