---
layout: layouts/default
title: Support
permalink: support/
---

{% import 'components/atoms/link.njk' as link %}

<h1>Support</h1>

<p>If you like my speaking, writing, courses and projects, please consider supporting me. It helps me keep most of my resources free (as in freedom, not free as in free frappuccinos).</p>

<p><strong>Examples of resources</strong></p>
<ul>
  <li>Slides and video's from talks</li>
  <li>The best tweets on the gram</li>
  <li>Course material</li>
  <li>Open-source projects</li>
</ul>

<h2>Patreon</h2>

<p>If you want to continously want to support me in the form of monthly donations Patreon is the best option. You get access to Patreon only content and will get exclusive early access to future content and products.</p>

{{ link.ext("https://www.patreon.com/dandevri", "Patreon Page") }}

<h2>Donate</h2>

<ul>
  <li>Tikkie (choose your amount)</li>
  <li>{{ link.inl("https://bunq.me/dandevri", "Bunq.me (choose your amount") }}</li>
</ul>

<h2>And the money goes to...</h2>

<ul>
  <li>Subscriptions and software (e.g. Notion)</li>
  <li>Video and audio gear</li>
</ul>

<h2>People</h2>
