---
layout: layouts/full
title: Teaching
description: An overview of workshops I can give at your conference or office and courses from the Amsterdam University of Applied Sciences. I've also made some online courses to learn with me on the web.
permalink: teaching/
---
{% import 'components/atoms/card.njk' as card %}

<h2>Workshops</h2>
<p>Full-day workshops covering designing for the web and making time for things that matter. These are before <strong>conferences</strong>, afternoon before your <strong>meet-up</strong> or a 10% day at <strong>your office</strong>.</p>
  <ul class="workshop space">
  {% for workshop in workshops.workshops %}
    {{ card.item
      (
        workshop.url,
        workshop.image,
        workshop.title,
        workshop.description
      )
    }}
  {% endfor %}
  </ul>

<h2>Online Classes</h2>
<p>Learn with me around the web! These are free or paid <strong>online courses</strong> which you can follow on your own pace. They are usually a <strong>couple of hours</strong> so a great watch during your lunch break. </p>
  <ul class="classes space">
    {% for class in classes.classes %}
    {{ card.item
      (
        class.url,
        class.image,
        class.title,
        class.description
      )
    }}
  {% endfor %}
  </ul>

<h2>Courses</h2>
<p>All the technical courses I give at <strong>Communication and Multimedia design</strong> at the <strong>Amsterdam University of Applied Sciences</strong>. They focus on front-end, back-end and data visualization.</p>

  <ul class="course space">
    {% for course in courses.courses %}
    {{ card.item
      (
        course.url,
        course.image,
        course.title,
        course.description
      )
    }}
  {% endfor %}
  </ul>
