---
layout: layouts/default
title: Teaching
description: An overview of workshops I can give at your conference or office and courses from the Amsterdam University of Applied Sciences. I've also made some online courses to learn with me on the web.
permalink: teaching/
---
{% import 'components/atoms/card.njk' as card %}

<h2>Workshops</h2>
<p>I do workshops covering designing for the web for your conference or office.</p>
  <ul class="workshop">
  {% for workshop in workshops.workshops %}
    {{ card.item
      (
        workshop.url,
        workshop.image,
        workshop.type,
        workshop.title,
        workshop.description
      )
    }}
  {% endfor %}
  </ul>

<h2>Online Classes</h2>
<p>Learn with me around the web.</p>
  <ul class="classes">
    {% for class in classes.classes %}
    {{ card.item
      (
        class.url,
        class.image,
        class.type,
        class.title,
        class.description
      )
    }}
  {% endfor %}
  </ul>

<h2>Courses</h2>
<p>These are all the technical courses I give at Communication and Multimedia design at the Amsterdam University of Applied Sciences. Such as Project-tech, front-end, back-end and data visualization.</p>

  <ul class="course">
    {% for course in courses.courses %}
    {{ card.item
      (
        course.url,
        course.image,
        course.type,
        course.title,
        course.description
      )
    }}
  {% endfor %}
  </ul>
