---
layout: layouts/default
title: Updates
permalink: updates/
---

{% import 'components/atoms/link.njk' as link %}

<h2>RSS feed</h2>

<p>You can subscribe to my feeds to receive updates on a regular basis. I personally use feedbin.</p>

<ul>
  <li>{{ link.inl("http://dandevri.es/articles/feed.xml", "Articles") }}</li>
  <li>{{ link.inl("http://dandevri.es/notes/feed.xml", "Notes") }}</li>
  <li>{{ link.inl("http://dandevri.es/weeknotes/feed.xml", "Weeknotes") }}</li>
  <li>{{ link.inl("http://dandevri.es/journal/feed.xml", "Journal") }}</li>
  <li>{{ link.inl("http://dandevri.es/links/feed.xml", "Links") }}</li>
</ul>

<h2>Social</h2>

<p>You can follow me on social media. I post most of my writing and resources on one of these channels</p>

<ul>
  <li>{{ link.inl("https://www.twitter.com/dandevri", "Twitter") }}</li>
  <li>{{ link.inl("https://github.com/dandevri", "GitHub") }}</li>
  <li>{{ link.inl("https://www.linkedin.com/in/dandevri/", "LinkedIn") }}</li>
  <li>{{ link.inl("https://www.instagram.com/dandevri/", "Instagram") }}</li>
  <li>{{ link.inl("https://dev.to/dandevri", "Dev.to") }}</li>
  <li>{{ link.inl("https://dribbble.com/dandevri", "Dribbble") }}</li>
</ul>
