---
layout: layouts/default
title: Weeknotes
permalink: weeknotes/
---

{% import 'components/atoms/card.njk' as card %}

<ol class="weeknote-list">
  {%- for weeknote in collections.weeknote | reverse -%}
    {{ card.list
      (
        weeknote.url,
        weeknote.data.title,
        weeknote.templateContent | safe,
        weeknote.data.date,
        weeknote.data.type
      )
    }}
  {%- endfor -%}
</ol>
