---
layout: layouts/default
title: Writing
description: A few things I've written to help me think or share what I know. Usually short posts and notes but also longer essays and guides.
permalink: writing/
---
{% import 'components/molecules/tags-list.njk' as list %}

{{ list.tag('articles', 'notes', 'weeknotes', 'journal', 'guides', 'essays', 'links') }}

<p>I write about: {{ taglist }}</p>
{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag }}/{% endset %}
  <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
{% endfor %}

<section class="article-list grid grid-l">
  {%- for article in collections.article | reverse -%}
    {% include 'components/atoms/article.njk' %}
  {%- endfor -%}
</section>
