---
layout: layouts/default
title: Writing
permalink: writing/
---

<section class="article-list grid grid-m">
  {%- for article in collections.article | reverse -%}
    {% include 'components/atoms/article.njk' %}
  {%- endfor -%}
</section>
