<link rel="apple-touch-icon" sizes="180x180" href="/static/img/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/static/img/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/static/img/icons/favicon-16x16.png">
<link rel="manifest" href="/static/img/icons/site.webmanifest">
<link rel="mask-icon" href="/static/img/icons/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/static/img/icons/favicon.ico">
<link rel="icon" type="image/x-icon" href="/static/img/icons/favicon.ico">
<link rel="icon" type="image/png" href="/static/img/icons/favicon-32x32.png">
<meta name="msapplication-TileColor" content="{{ metadata.theme }}">
<meta name="msapplication-config" content="/static/img/icons/browserconfig.xml">
<meta name="theme-color" content="{{ metadata.theme }}">

