<meta name="geo.region" content="NL-NH" />
<meta name="geo.placename" content="Amsterdam" />
<meta name="geo.position" content="52.50017;5.748082" />
<meta name="ICBM" content="52.50017, 5.748082" />
