<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="{{ metadata.description }}">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="msapplication-config" content="browserconfig.xml">
<link rel="canonical" href="{{ metadata.url }}{{ page.url }}">
<link rel="shortlink" href="{{ metadata.url }}{{ page.url }}">
<link rel="dns-prefetch" href="{{ metadata.url }}">
<link rel="preconnect" href="{{ metadata.url }}">
