<link rel="preload" type="text/css" href="/css/style.css" as="style">
<link rel="preload" href="http://fonts.gstatic.com/s/robotoslab/v7/BngMUXZYTXPIvIBgJJSb6ufN5qU.woff2" as="font" type="font/woff2" crossorigin>
