  <meta property="og:locale" content="{{ metadata.lang }}">
  <meta property="og:site_name" content="{{ metadata.author }}">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:url" content="{{ metadata.url}}{{ page.url }}">
  <meta property="og:type" content="website">
  {% if sentence %}
    <meta property="og:description" content="{{ sentence }}">
  {% else %}
    <meta property="og:description" content="{{ metadata.description }}">
  {% endif %}
  {% if cover %}
    <meta property="og:image:url" content="{{ metadata.url }}{{ cover }}">
    <meta property="og:image" content="{{ metadata.url }}{{ cover }}">
  {% else %}
    <meta property="og:image:url" content="{{ metadata.url }}{{ metadata.share }}">
    <meta property="og:image" content="{{ metadata.url }}{{ metadata.share }}">
  {% endif %}
  {% if title %}
    <meta property="twitter:title" content="{{ title + ' ⇢ ' + metadata.author }}">
  {% else %}
    <meta property="twitter:title" content="{{ metadata.author }}">
  {% endif %}
  {% if sentence %}
    <meta property="twitter:description" content="{{ sentence }}">
  {% else %}
    <meta property="twitter:description" content="{{ metadata.description }}">
  {% endif %}
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="{{ metadata.url}}{{ page.url }}">
  <meta property="twitter:site" content="@{{ metadata.social }}">
  {% if cover %}
    <meta property="twitter:image" content="{{ metadata.url }}{{ cover }}">
  {% else %}
    <meta property="twitter:image" content="{{ metadata.url }}{{ metadata.share }}">
  {% endif %}
