  <meta property="og:locale" content="{{ metadata.lang }}">
  <meta property="og:site_name" content="{{ metadata.author }}">
  <meta property="og:title" content="{{ metadata.title }}">
  <meta property="og:url" content="{{ metadata.url }}">
  <meta property="og:type" content="website">
  <meta property="og:description" content="{{ metadata.description }}">
  <meta property="og:image:url" content="{{ metadata.url }}{{ metadata.share }}share-image.jpg">
  <meta property="og:image" content="{{ metadata.url }}{{ metadata.share }}share-image.jpg">
  <meta name="twitter:title" content="{{ metadata.title }}">
  <meta name="twitter:url" content="{{ metadata.url }}">
  <meta name="twitter:description" content="{{ metadata.description }}">
  <meta name="twitter:image" content="{{ metadata.url }}{{ metadata.share }}share-image.jpg">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@{{ metadata.social }}">
