---
layout: layouts/default
title: Media Diet
permalink: media-diet/games/index.html
---

<ul class="games-list">
  {% for item in games.games | reverse %}
    {% include 'components/atoms/media-item.njk' %}
  {% endfor %}
</ul>
