---
layout: layouts/default
title: Movies
permalink: media-diet/movies/index.html
---

<ul class="movies-list">
  {% for item in movies.movies | reverse %}
    {% include 'components/atoms/media-item.njk' %}
  {% endfor %}
</ul>
