/* @mixin reduced-motion; */

*, ::after, ::before {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

a {
  color: inherit;
  display: inline-block;
  @mixin focus;
}

p ul {
  padding-left: $s1;
  max-width: $width;
  @mixin fade-out;

  li {

    p {
      margin-top: $s-3;
    }

    a {
      font-weight: 700;
    }
  }
}

time {
  display: inline-block;
}

img {
  filter: grayscale()
}

hr {
  width: 10%;
  opacity: 0.2;
}

div ul {
  padding-left: $s1;
}

ol {
  padding-left: $s2;
  list-style: none;
  counter-reset: number;
}

ol li {
  counter-increment: number;

  &:before {
    content: "0" counter(number);
    font-weight: bold;
    font-size: $s-1;
    letter-spacing: .1em;
    margin-left: -1.5rem;
    position: absolute;
  }
}
