main > * + * {
  margin-top: $s2;
}

header > * + * {
  margin-top: $s2;
}

main {
  padding: calc($s6 * 2);
}

p,
h2 {
  max-width: $width;
}

.blocks {
  display: flex;
}

.full-width {
  padding: 0;
}

.home {
  height: 50vh;
}
