main {
  margin-top: calc(3vh * 2);
  margin-right: calc(3vw * 2);
  margin-bottom: calc(3vh * 2);
  margin-left: calc(3vw * 2);
}

.wrapper > * + * {
  margin-top: $s2;
}

.content > * + * {
  margin-top: $s2;
}

.card > * + * {
  margin-top: $s1;
}

.bg > * + * {
  margin-top: $s2;
}

.block-contact > * + * {
  margin-top: $s2;
}

p,
h2 {
  max-width: $width;
}

.grid {
  display: grid;
  grid-gap: $s4;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
}

.space > * {
  margin-top: calc($s5 * 2);
}
