@mixin reduced-motion;

*, ::after, ::before {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

a {
  color: inherit;
  display: inline-block;
}

p ul {
  padding-left: $s1;
}
