@font-face {
  font-family: 'Simplon Mono';
  src: url('/static/fonts/SimplonMono-Regular.woff') format('woff2');
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: 'Simplon Mono';
  src: url('/static/fonts/SimplonMono-Bold.woff') format('woff2');
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: 'Simplon Mono';
  src: url('/static/fonts/SimplonMono-Light.woff') format('woff2');
  font-display: swap;
  font-weight: 200;
}

:root {
  font-size: calc(.333vw + $base);
  font-family: 'Simplon Mono', monospace;
  line-height: $ratio;
}

p {
  line-height: calc($base * $ratio * $ratio);
  color: $cl;
}

h1 { font-size: $s2; }
h2 { font-size: $s5; }
h3 { font-size: $s4; }
h4 { font-size: $s3; }
h5 { font-size: $s2; }
h6 { font-size: $s1; }

small {
  font-size: $s-1;
  font-weight: 700;
}

time { font-size: $s-1; }

time {
  letter-spacing: 0.1rem;
}

.d-1 {
  font-weight: 400;
  font-size: $s2;
  margin-top: 0;
}

ul {
  line-height: 1.6;
}
