@define-mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@define-mixin reset-link {
  text-decoration: none;
}

@define-mixin reduced-motion {
  @media screen and (prefers-reduced-motion: reduce), (update: slow) {
    * {
      animation-duration: 0.001ms !important;
      animation-iteration-count: 1 !important;
    }
  }
}

ul {
  list-style-image: url(/static/img/marker-dark.svg);
}
