@define-mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@define-mixin reset-link {
  text-decoration: none;
}

@define-mixin reduced-motion {
  @media screen and (prefers-reduced-motion: reduce), (update: slow) {
    * {
      animation-duration: 0.001ms !important;
      animation-iteration-count: 1 !important;
    }
  }
}

ul {
  list-style-image: url(/static/img/marker-dark.svg);
}

.divider {
  margin: $s-2 $s-2;
}

.line {
  position: relative;
  &:before {
    content: '';
    display: block;
    width: 1px;
    background-color: $cc;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2.5rem;
  }
}
