$cn: #ffffff;
$cm: #f8f9fb;
$cc: #0a2437;
$cl: #3b3b3b;

$250ms: 250ms ease;
$350ms: 350ms ease;

/* Borders */
$b1: 1px solid $cc;
$b2: 1px solid $cl;

/* Shadows */
$bs1: rgba(15, 15, 15, 0.5) 0px 1px 2px, rgba(15, 15, 15, 0.5) 3px 3px, rgba(17, 17, 17, 0.3) 0px 0px 0px 1px inset;

/* Ratio */
$ratio: 1.25; // Major third
$base: 1rem;
$width: 45rem;

$s-1: calc($base / $ratio);
$s-2: calc($base / $ratio / $ratio);
$s-3: calc($base / $ratio / $ratio / $ratio);

/* Scale */
$s0: calc($base);
$s1: calc($base * $ratio);
$s2: calc($base * $ratio * $ratio);
$s3: calc($base * $ratio * $ratio * $ratio);
$s4: calc($base * $ratio * $ratio * $ratio * $ratio);
$s5: calc($base * $ratio * $ratio * $ratio * $ratio * $ratio);
$s6: calc($base * $ratio * $ratio * $ratio * $ratio * $ratio * $ratio);

body {
  background: $cm;
  color: $cc;
}
