$white: #ffffff;
$grey: hsl(213, 5%, 39%);
$black: #202124;

$250ms: 250ms ease;
$350ms: 350ms ease;

/* Borders */
$b1: 1px solid $black;
$b2: 1px solid $black;

/* Ratio */
$ratio: 1.25; // Major third
$base: 1rem;
$width: 45rem;

$s-1: calc($base / $ratio);
$s-2: calc($base / $ratio / $ratio);
$s-3: calc($base / $ratio / $ratio / $ratio);
$s-7: calc($base / $ratio / $ratio / $ratio / $ratio);

$s-4: calc(-$base / $ratio);
$s-5: calc(-$base / $ratio / $ratio);
$s-6: calc(-$base / $ratio / $ratio / $ratio);

/* Scale */
$s0: calc($base);
$s1: calc($base * $ratio);
$s2: calc($base * $ratio * $ratio);
$s3: calc($base * $ratio * $ratio * $ratio);
$s4: calc($base * $ratio * $ratio * $ratio * $ratio);
$s5: calc($base * $ratio * $ratio * $ratio * $ratio * $ratio);
$s6: calc($base * $ratio * $ratio * $ratio * $ratio * $ratio * $ratio);

/* Shadows */
$bs1: $s-1 $s-1 $black;
$bs2: $s-2 $s-2 $black;
$bs3: $s-4 $s-1 $black;

body {
  background: $white;
  color: $black;
}
