.article-item {
  border-right: $b1;
  border-bottom: $b1;
  padding: $s4;
  position: relative;

  h3 {
    font-size: $s2;
  }

  a {
    text-decoration: none;
  }

  a > * + * {
    margin-top: $s1;
  }
}

.article-next {
  font-weight: 700;
  display: flex;
  align-items: center;
  border: $b1;
  padding: $s4;
  background: $primary;
  color: $secondary;
}

.article-item > * + * {
  margin-top: 1.25rem;
}
