.article-item {
  border: $b1;
  padding: $s4;
  background: $cn;
  @mixin hover;

  h3 {
    font-size: $s2;
    border: $b1;
    padding: $s-2;
    display: inline-block;
    position: absolute;
    transform: translate(0rem, -4rem);
    background: $cn;
    z-index: 3;
  }

  a {
    text-decoration: none;
  }

  a > * + * {
    margin-top: $s1;
  }
}

.article-next {
  font-weight: 700;
  display: flex;
  align-items: center;
  border: $b1;
  padding: $s4;
  background: $cn;
}
