.biography {
  display: flex;
  align-items: center;
  border-top: 1px solid white;
  padding: $s1 $s5;

  img {
    height: 5vh;
    margin-right: $s2;
  }

  p {
    width: $width;
  }
}

footer {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
}
