.btn {
  padding: $s-1 $s2;
  @mixin reset-link;

  &-primary {
    background: $cl;
    color: $cn;
    box-shadow:
      rgba(15, 15, 15, 0.5) 0px 1px 2px,
      rgba(15, 15, 15, 0.5) 3px 3px,
      rgba(17, 17, 17, 0.3) 0px 0px 0px 1px inset;
    transition: 250ms all;

    &:hover, &focus {
        transform: translate(0.1em, 0.1em);
      }
  }

  &-secondary {
    background: $cm;
    color: $cc;
    box-shadow:
      rgba(15, 15, 15, 0.1) 0px 1px 2px,
      rgba(15, 15, 15, 0.2) 3px 3px,
      rgba(17, 17, 17, 0.3) 0px 0px 0px 1px inset;
    transition: 250ms all;

      &:hover, &focus {
        transform: translate(0.1em, 0.1em);
      }
  }
}
