.card {
  display: inline-block;
  padding: $s2;

  &-item {
    background: $cm;
    color: $cc;
    max-width: 20vw;
    border: $b1;
  }

  &-product {
    border: $b1;
  }

  &-list {
    @mixin reset-list;
    border: $b1;
    padding: $s2;
    position: relative;

    .list-meta {
      display: flex;
      align-items: center;
    }

    .list-type {
      position: absolute;
      top: 0;
      right: 0;
      padding: $s-2 $s-1;
      background: $cc;
      color: $cn;
    }

    .list-avatar {
      width: $s4;
    }
  }
}
