p code {
  padding: 0.25em;
  border-radius: 3px;
  border: $b1;
  box-shadow: 0 2px 0 $secondary;
}

li p code {
  padding: 0.25em;
  border-radius: 3px;
  font-size: 0.7em;
  border: $b1;
  box-shadow: 0 2px 0 $primary;
}

pre {
  background: $secondary;
  color: $primary;
  padding: $s2 $s1 $s1 $s1;
}

pre code {
  position: relative;
}

pre code::before {
  background: $primary;
  padding: 0.2em;
  color: $secondary;
  border: $b1;
  position: absolute;
  top: -2.5em;
}

.language-html::before {
  content: "html";
}

.language-css::before {
  content: "css";
}

.language-js::before {
  content: "js";
}
