details:not(.post details) {
  summary {
    list-style-image: url(/static/img/icons/arker-light.svg);
    padding: $s1;
    background-color: $secondary;
    color: $primary;
    max-width: $width;
  }

  summary::-webkit-details-marker {
    background: url(/static/img/icons/marker-light.svg);
    color: transparent;
    width: 2em;
  }

  p {
    background: $secondary;
    color: $primary;
    padding: $s1;
  }
}

.post summary {
  margin-bottom: $s1;
}

.post details > * + * {
  margin-top: $s1;
}

.post details p:first-of-type {
  border-top: $b1;
  padding-top: $s1;
}
