details {
  summary {
    list-style-image: url(/static/img/icons/arker-light.svg);
    padding: $s1;
    background-color: $black;
    color: $white;
    max-width: $width;
  }

  summary::-webkit-details-marker {
    background: url(/static/img/icons/marker-light.svg);
    color: transparent;
    width: 2em;
  }

  p {
    background: $black;
    color: $white;
    padding: $s1;
  }
}
