.notification {
  border: $b1;

  h6 {
    padding: $s-1 $s2;
    background: $primary;
    color: $secondary;
    border-bottom: 2px solid $secondary;
  }

  p {
    padding: $s-1 $s2;
  }

  a {
    padding: $s-2 $s2;
  }
}
