.project {
  border: 1px solid #1A202C;
  padding: 2em;
  margin-top: 3em;
  min-width: 25vw;
  max-width: 25vw;
  margin-right: 5em;
}

.course,
.workshop {
  display: flex;
  width: 100vw;
  overflow: auto;
  padding-left: 0;
}
