.signature {
  margin-top: 2em;

  img {
    width: 10vw;
    border: none;
    margin: 1em 0;
  }
}

.biography {
  border-top: 1px solid black;
  padding: 2em 0;

  img {
    float: left;
    height: 6vh;
    margin-right: 1em;
  }
}
