.testimonial {
  display: flex;
  flex-direction: column;

  & > * + * {
    margin-top: $s-1;
  }

  &-company {
    img {
      width: 20%;
    }
  }

  footer {
    display: flex;
    align-items: center;
    text-align: left;

    img {
      width: $s2;
      margin-right: $s-1;
      border-radius: 100%;
    }

  }
}
