.guide ul:first-of-type {
  position: sticky;
  border: $b1;
  padding: $s1;
  top: 5vh;
  float: right;
  list-style-image: none;
  list-style-type: none;

  & li {
    opacity: 0.8;
  }

  & li:nth-of-type(2) {
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
  }

  & .active {
    opacity: 1;
    font-weight: bold;
  }
}

html {
  scroll-behavior: smooth;
}

.read {
  font-style: italic;
}

@media (max-width: 60em) {
  .post ul:first-of-type {
    position: relative;
    border: $b1;
    padding: $s1;
    float: none;
    list-style-image: none;
    list-style-type: none;
  }

  .guide button {
    display: none;
  }
}

.guide button {
  background: transparent;
  color: $secondary;
  padding: 0.5em;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.8em;
  border-left: $b1;
  border-bottom: $b1;
  border-top: none;
  border-right: none;
}
