{% include 'config/ascii.njk' %}
<!doctype html>
<html lang="en" dir="ltr">
  <head>
    {% include 'config/meta.njk' %}
    {% include 'config/pre.njk' %}
    {% include 'config/favicon.njk' %}
    {% include 'config/social.njk' %}
    {% include 'config/geo.njk' %}
    {% include 'config/monetize.njk' %}
    {% include 'config/indie.njk' %}
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/static/js/script.js" type="text/javascript" defer></script>
  </head>
  <body>
    {% include 'components/atoms/skip-link.njk' %}
    {{ content | safe }}
  </body>
</html>
