---
layout: layouts/base
---

{% include 'components/molecules/header.njk' %}

<main class="wrapper">
  {{ content | safe }}
</main>

<footer>
  {% include 'components/molecules/navigation.njk' %}
</footer>
