---
layout: layouts/base
---

{% include 'components/molecules/site-header.njk' %}

  <main class="wrapper">
    <header class="post">
      <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
      <span> ▪ {{ content | readingTime }}</span>
      <h1 class="header__title display">{{ title }}</h1>
      <h2 class="header__subtitle">{{ description }}</h2>
    </header>
    <div class="content">
      {{ content | safe }}
      {% include 'components/atoms/signature.njk' %}
      {% include 'components/atoms/biography.njk' %}
    </div>
    <footer>
      {% include 'components/molecules/tag-list.njk' %}
    </footer>
  </main>
</section>
