---
layout: layouts/base
---

<section class="post">

<header>
  <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
  <span> ▪ {{ content | readingTime }}</span>
  <h1 class="header__title display">{{ title }}</h1>
  <h2 class="header__subtitle">{{ subtitle }}</h2>
</header>

<main>
  {{ content | safe }}
  {% include 'components/atoms/signature.njk' %}
  {% include 'components/molecules/tags.njk' %}
  {% include 'components/atoms/bio.njk' %}
</main>
</section>

<footer>
  {% include 'components/molecules/nav.njk' %}
</footer>
