.block {
  max-width: $width;
}

.block-list {
    column-count: 2;
    column-gap: 2em;
    columns: 30ch;
    overflow: auto;
    padding: $s1 $s4;
    border: $b1;
    margin-top: 0;
    line-height: $s2;

  li {
    column-span: all;
  }

  li:nth-last-child(n+5),
  li:nth-last-child(n+5) ~ * {
    column-span: none;
  }
}

.block-title {
  background: $cc;
  color: $cn;
  margin-bottom: 0;
  padding: $s-1 $s1;
}

.block-contact {
  border: $b1;
  padding: $s2;
  margin-top: $s6;
  background: $cn;
  max-width: $width;

  h3 {
    font-size: $s1;
    border: $b1;
    padding: $s-2;
    display: inline-block;
    position: absolute;
    transform: translateY(-3rem);
    background: $cn;
  }
}

.bg {
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: right;
  background-color: white;
  border: $b1;
  padding: $s4;
  position: relative;
  min-height: 20vh;
  filter: grayscale();
}

.bg-speaking {
  background-image: url('/static/img/photos/talk.jpg');
}

.bg-teaching {
  background-image: url('/static/img/photos/classroom.jpg');
}

.home-avatar {
  float: left;
  height: 6em;
  margin-right: $s2;
}
