header {
  padding: $s3;
  background: $white;
  outline: $b1;
  display: inline-block;
  position: relative;
  margin: calc(3vw * 2);
}

header > * + * {
  margin-top: $s3;
}

.header-home h1 {
  font-size: $s4;
}

.header-home h2 {
  font-size: $s2;
  margin-top: $s-7;
  font-weight: 400;
}
