header {
  padding: 1.5rem;
  background: $primary;
  color: $secondary;

  div {
    max-width: 38rem;
  }

  h1,
  h2 {
    margin: 0;
  }

  h2 {
    font-size: 1.5em;
  }

  time, span {
    font-size: 0.8em;
  }
}
