header {
  background: $light-grey;
  padding: $s4 0;
}

.container > * + * {
  margin-top: $s1;
}

header h2 {
  font-size: $s1;
  line-height: 1.5;
  font-weight: 400;
}

.site-header {
  flex-basis: 10rem;
  flex-grow: 1;
  background: $black;
  color: $white;
  padding: $s3;
}

@media (max-width: 60em) {
  .site-header {
    order: 2;
  }
}

main header {
  padding: $s4;
}

main header > * + * {
  margin-top: $s1;
}
