.tag-list {
  @mixin reset-list;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-top: $b2;
  border-bottom: $b2;
  padding: $s1 $s5;
}

.tag-item {
  margin-right: $s1;
}

.tag-title {
  font-weight: 700;
  margin-right: $s1;
}

.skip-list {
  @mixin reset-list;
  display: flex;
  flex-wrap: wrap;
}

.skip-item {
  @mixin reset-link;
  margin-right: $s1;
  border: $b1;
  padding: $s-1;
}
