nav {
  display: flex;
  align-items: center;
  padding: 1em;

  img {
    width: 2em;
    margin-right: 1em;
  }

  ul {
    display: flex;
    overflow-x: auto;
    @mixin reset-list;

    li:not(:last-child) {
      margin-right: 1em;
    }
  }
}
