nav {
  display: flex;
  align-items: center;
  padding: $s1;

  img {
    width: 1.2em;
    margin-right: $s1;
  }

  a {
    vertical-align: super;
  }

  ul {
    display: flex;
    overflow-x: auto;
    opacity: 0.8;
    @mixin reset-list;

    li:not(:last-child) {
      margin-right: $s1;
    }
  }
}
