.article-list {
  @mixin reset-list;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30em, 1fr));

  article {
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 3em;
  }
}
