.share {
  padding: $s4;

  input {
    padding: $s-2;
    font-size: $s-1;
    display: inline-block;
    background: $black;
    color: $white;
    margin-top: $s1;
    width: 45%;
    overflow: show;
  }
}
