.share {
  padding: $s4;
  display: flex;
  flex-wrap: wrap;

  & * {
    margin-right: $s4;
  }

  input {
    padding: $s-2;
    font-size: $s-1;
    display: inline-block;
    background: $secondary;
    color: $primary;
    margin-top: $s1;
    width: 45%;
    overflow: show;
    display: none;
  }

  label {
    cursor: pointer;
    width: auto;
    text-decoration: underline;
    text-decoration-color: inherit;
    text-decoration-thickness: 0.08em;
    text-underline-offset: 0.15em;
    text-decoration-skip-ink: auto;
  }

  .is-open {
    display: block;
  }
}
