.tag__list {
  @mixin reset-list;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid #d0d0d0;
  padding: 1em 4em;
  font-size: 0.8em;

  li {
    margin-right: 1em;
  }

  li:not(:first-child) {
    padding: 0.25em 0.5em;

    a {
      box-shadow: none;
    }
  }
}

.category-list {
  @mixin reset-list;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid black;
  padding: 0 1em;

  li {
    margin-right: 1em;
  }
}

.skip__list {
  @mixin reset-list;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;

  li {
    margin-right: 1em;
    border: 2px solid black;
    padding: 0.5em;
  }
}

.interview {
  @mixin reset-list;
  padding: 1em 0;
  border-bottom: 1px solid $secondary;
  border-top: 1px solid $secondary;
  margin: 0;
  position: relative;

  &-podcast {
    &:after {
      content: url('/static/img/ui-icons/podcast.svg');
      position: absolute;
      right: 0;
      top: 40%;
      right: 5%;
    }
  }

  &-article {
    &:after {
      content: url('/static/img/ui-icons/article.svg');
      position: absolute;
      right: 0;
      top: 40%;
      right: 5%;
    }
  }
}

.interview-list {
  margin-bottom: 2em;
  padding: 0;
}
