.tag__list {
  @mixin reset-list;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 2px solid black;
  padding: 3em;

  li {
    margin-right: 1em;
  }

  li:not(:first-child) {
    border: 2px solid black;
    padding: 0.25em 0.5em;

    a {
      box-shadow: none;
    }
  }
}

.category-list {
  @mixin reset-list;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid black;
  padding: 0 1em;

  li {
    margin-right: 1em;
  }
}

.skip__list {
  @mixin reset-list;
  display: flex;
  flex-wrap: wrap;

  li {
    margin-right: 1em;
    border: 2px solid black;
    padding: 0.5em;
  }
}
