.tag-list {
  @mixin reset-list;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
  padding: 3em;

  li {
    margin-right: 1em;
  }
}

.category-list {
  @mixin reset-list;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid black;
  padding: 0 1em;

  li {
    margin-right: 1em;
  }
}
