.webmention {
  padding: $s4;
  border-top: $b1;
}

.webmention > * + * {
  max-width: 40rem;
  margin-top: $s1;
}

.webmention-likes {
  p:first-of-type {
    display: flex;
    align-items: center;
  }

  svg {
    margin-right: $s-1;
  }

  img {
    border-radius: 100%;
    border: $b1;
  }
}

.webmention form {
  display: flex;
}

.webmention .c-label {
  flex: 1;
  text-align: center;
}

.webmention .btn-secondary {
  flex: 1;
}

.webmention .c-input-field {
  flex: 4;
}

.webmention-icon svg {
  display: inline-block;
  margin-left: 0.1em;
  margin-right: 0.3em;
}
