---
layout: layouts/newsletter
title: Newsletter
permalink: newsletter/
---

<h1>_electronic mail</h1>
<h5>A weekly newsletter with useful resources thoroughly curated. Typed with :hearts: by <img class="avatar" src="/static/img/avatar.jpg"><a href="/about">Danny de Vries</a>, <em>delivered every sunday.</em> </h5>

<div class="boilerform sign">
  <form
    action="https://buttondown.email/api/emails/embed-subscribe/dandevri"
    method="post"
    target="popupwindow"
    onsubmit="window.open('https://buttondown.email/dandevri', 'popupwindow')"
    class="embeddable-buttondown-form">
    <div>
      <label for="bd-email" class="c-label visuallyhidden">Sign up to receive weekly updates</label>
      <input type="email" name="email" id="bd-email" class="c-input-field" autocapitalize="none" autocorrect="off" placeholder="Enter your email">
    </div>
    <div>
      <input type="hidden" value="1" name="embed"></input>
      <input type="submit" value="Subscribe" class="btn btn-secondary"></input>
    </div>
  </form>
</div>

<small>Unsubscribe at any time, no spam and no hidden advertising. Pinky Promise.</small>

<ul>
  <li><a href="/sponsorship">Want to sponsor this newsletter?</a></li>
  <li><a href="https://buttondown.email/dandevri/archive">View the latest edition or archive</a></li>
  <li><a href="https://www.dandevri.es/updates/">Subscribe via RSS</a> or <a href="https://twitter.com/dandevri">follow my tweets</a></li>
</ul>
